[2016-11-22 14:15] EvgeniiG opened #20 "Memory Leak After Reimporting Assets"
Build:      Unity Editor v 5.6.0a5 (64-bit)
Platform: Windows 10 (64-bit)
Project:   ScriptableRenderLoop

Clicking 'Reimport' on an asset folder causes the memory consumption of the "Unity Editor" process to go up.

Depending on the size of the folder, it could be several hundred MB at a time.

This memory is never released, so if you perform this action multiple times, then the Editor eventually

[2016-11-29 11:54] EvgeniiG opened #26 "Graphics.CopyTexture Called With Invalid Destination Element Index"
Build: Unity Editor v 5.6.0a5 (64-bit)
Platform: Windows 10 (64-bit)
Project: ScriptableRenderLoop

Performing the "Reimport All" action prints a large number of errors (related to Graphics.CopyTexture) to the console.

![reimporterror](https://cloud.githubusercontent.com/assets/23363056/20708967/cf98152a-b632-11e6-8262-e2a5cab9125d.png)

[2016-12-05 09:21] fdsagizi opened #32 "Extrimply need this fiture!"
Hi, i research sources, And this is awesome! It will be help change render logic, add some features!

I thing RenderLoop not necessary class, may use only CommandBuffer

CommandBuffer buff;
FillCommandBuffer(buff);
buff.ExecuteOnGPU();

Awesome, thanks, will wait it in unity!!!

[2016-12-05 09:26] aras-p commented on #32
Not sure I understood the request frankly. What ExecuteOnGPU would end up doing, and where?

[2016-12-05 09:26] #32 closed

[2016-12-05 09:33] fdsagizi commented on #32
i just want say, this is really cool thin!!! :)

About command buffer,i mean it can be like this

1 create command buffer
2 fill command buffer
3 execute it

 without RenderLoop ;)

[2016-12-05 09:41] aras-p commented on #32
You can do this today in any unity 5.0+ version; create a command buffer, fill it, and do Graphics.ExecuteCommandBuffer.

[2017-01-19 16:50] Verasl opened #106 "[HDrenderloop]Major memory leak on OSX metal"
Currently, having the HDrenderloop set in graphics settings on OSX, running Metal editor causes unity to leak huge amounts of memory, easily getting to 60GBs+ within a minute or two.

It only happens when a scene or game view is visible, switching to asset store or similar to hide any 3d viewport stops the leak, as soon as you return to one it start going up again.

I have tried both the base scri

[2017-01-25 00:19] aet commented on #106
can't repro against latest (unreleased beta) stuff :) closing

[2017-01-25 00:19] #106 closed

[2017-03-26 08:38] ConradBrean opened #199 "can't compile on beta 5.6.0f1"
I have the following compilation errors with 5.6.0f1:

Assets/ScriptableRenderPipeline/HDRenderPipeline/HDRenderPipeline.cs(648,53): error CS0117: `UnityEngine.CameraType' does not contain a definition for `Reflection'

Assets/ScriptableRenderPipeline/HDRenderPipeline/Lighting/TilePass/TilePass.cs(1162,52): error CS0117: `UnityEngine.CameraType' does not contain a definition for `Reflection'

Asse

[2017-03-26 10:38] JacobSmaga commented on #199
This https://github.com/Unity-Technologies/ScriptableRenderLoop/releases/tag/unity-5.6.0b10 with 5.6.0b10 https://unity3d.com/unity/beta/archive

[2017-03-26 13:22] ConradBrean commented on #199
Thanks, but it doesn't work either. I see white screen instead of gui when unity imports all the assets, and then it crashes.

[2017-03-26 14:01] JacobSmaga commented on #199
Do you have this problem when you open any other project with 5.6.0b10?

[2017-03-26 14:15] ConradBrean commented on #199
No, I don't.

[2017-03-26 17:19] sebastienlagarde commented on #199
Hi,
HDRenderpipeline can't be use with public version yet, sorry. This project is in development and will change a lot. We provide read access just to give an insight of what may happen in the future, it is expected that it is in unstable state and don't run with public version :). Thanks.

Seb

[2017-03-26 17:20] #199 closed

[2017-04-12 12:26] bitfabrikken opened #221 "Is it really happening?"
If this is indeed coming in Unity, I will just about explode from happiness. There's thousands of us waiting for this!

Could this possibly allow running graphics at 15fps, while still maintaining 60 fps input on mobile platforms? If yes, it's going to be absolutely huge!

(Sorry for this not actually being an issue, but rather a comment / encouragement to whoever is working on it)

Got here from

[2017-04-30 23:29] sebastienlagarde commented on #221
Hi,
Thanks for your enthusiasm.
The SRP project is only about flexible renderpipeline, it will not allow to manipulate input loop delta time. So no way to decouple input reading and graphic rendering frame rate, sorry.

[2017-04-30 23:29] #221 closed

[2017-05-03 00:17] Rene-Damm commented on #221
@bitfabrikken On a semi-related note, the new input system is moving event collection to threads where it makes sense. This allows sampling things like touch on a higher-than-framerate frequency, for example. So in that sense, you could run your game at 15fps while sampling input at 60fps.

[2017-05-04 09:57] bitfabrikken commented on #221
@Rene-Damm thanks Rene :) Do you know if there's a github repo I can follow for that input system?

[2017-05-04 20:30] Rene-Damm commented on #221
@bitfabrikken We're getting there :) We've hit delays and snags but we're making steady progress towards that stage. There should be a publicly accessible github version in the 2017.1 time frame and a fully integrated version in 2017.2 (we're moving towards Unity being able to integrate packages from the web).

[2017-06-26 09:24] benblo opened #320 "what Unity version should I use?"
Hi,
I tried opening this with the latest beta (2017.1.0b7) but the project version says 2017.2.0b1... I'm on the alpha list but the latest version there is 2017.2.0a4.
So I tried checking out the tag unity-2017.1b5, but after reimport I see most of the shaders have been auto-upgraded (replaced 'mul(UNITY_MATRIX_MVP,*)' with 'UnityObjectToClipPos(*)').
Does it matter at all? Which version should I

[2017-06-26 10:05] sebastienlagarde commented on #320
Hey,
We regularly update the Unity C++ code for this project, mean latest github version is high likely to not work on latest public available Unity version (alpha, beta, priority list). It is highly develop and highly experimental feature.

The only release that currently work is with Unity 2017.1b5 build:
https://github.com/Unity-Technologies/ScriptableRenderLoop/releases/tag/unity-2017.1b5

The

[2017-06-26 12:05] benblo commented on #320
OK so basically latest is for UT internal use only right?

I started looking at the 2017.1 tag which mostly works, except some of the (older?) test scenes like Big (viking village) and FPTL are broken: had to rebuild outdated lighting data, but even after that it's all black.
I'm quite interested in FPTL, any idea what needs to be fixed?

[2017-06-26 14:18] benblo commented on #320
OK got it, had to assign the FPTL asset in the graphics settings.
I suppose this can be done procedurally... this demo project would be a bit friendlier if the proper pipeline was selected when opening scenes ;).

[2017-06-26 14:18] #320 closed

[2017-06-26 15:42] sebastienlagarde commented on #320
Yes, there is no automatic detection of which pipeline asset to use as it is not really possible to know (you can have several fork of the same render pipe with very slight variation.

Note: FTPL is a toy project that we use to experiment/implement tile/cluster lighting, there is currently no plan to ship it and we will remove it in the future. But feel free to use it for your own need :)

[2017-06-26 15:48] benblo commented on #320
Thanks. I don't plan to _use_ FPTL, I'm merely dissecting it to figure out how it's implemented... so far, it's a toughie ;) !

[2017-06-26 16:06] sebastienlagarde commented on #320
You can find the details in GPU Pro 7 article from Morten Mikkelsen, it is an improve version of the article (done by the author himself as he work at Unity).

[2017-07-25 21:48] pauliusuza opened #349 "Tagged versions don't compile with 2017.1 and 2017.2.0b4"
Followed instructions (git checkout, submodule update)
Getting a few errors:

[code]

Also it seems the PostProcessing framework is not included or is under wrong namespace (Experimental), is there a missing submodule / separate download?

[2017-07-25 22:01] sebastienlagarde commented on #349
Hey, It mean you haven't the correct postprocess version which is in a submodule.
have you try git submodule update --init --recursive  (on Postprocess submodule) ?

Else it may mean that we haven't tagged correctly the postprocess version and you may have a too recent version of postprocess that is not compatible with this (old) version of github project

[2017-07-25 22:25] pauliusuza commented on #349
git submodule update --init --recursive did not work at first from the root of the project, but it seems it worked when I ran it inside the PostProcess folder, thanks

[2017-07-25 22:25] #349 closed

[2017-08-16 14:39] benblo opened #374 "where's the best place to get help and give feedback?"
The [single forum thread](https://forum.unity3d.com/threads/feedback-wanted-scriptable-render-pipelines.470095/) kinda feels like a kitchen sink, the beta list is now defunct... is here the best place to talk to devs?

Is there any form of high-level documentation, release notes in-between tagged releases, anything?

I spent a few days exploring SRP about a month ago with 2017.1, and coming back t

[2017-08-16 18:27] nicobella commented on #374
I agree, it would be really useful both for users and for the developers involved in this stage, to have documentation at least a rough one but centralized, and a place to take suggestions and bug reports, I really want to start experiment with this feature with the less amount of headache trying to understand and guess how it works in the process, thanks!

[2017-08-20 17:01] sebastienlagarde commented on #374
Hi,
I agree that the communication around SRP have begin way too early and should have stay internal.
There is no documentation yet because the feature SRP is very experimental and is not suppose to be use in any productions for this year.

Some clarification about SRP and what you can find in the github repository.
- SRP (scriptable render pipeline) is the features that allow you to build your ow

[2017-08-25 08:35] #374 closed

[2017-08-25 11:17] benblo opened #380 "ShaderPassName: render default pass / all passes?"
I'm trying to port a big project to SRP (still experimental, I know, just need a proof of concept), and I'm confused as to what to inject in our shaders in order for them to be picked up by DrawRenderers.

DrawRendererSettings's constructor takes a (mandatory) ShaderPassName; from what I see in the HDR shaders, all passes are marked like so:
[code]
So it looks like ShaderPassName uses the LightMod

[2017-08-25 13:51] EvgeniiG commented on #26
Fixed.

[2017-08-25 13:51] #26 closed

[2017-08-25 13:54] EvgeniiG commented on #20
Fixed.

[2017-08-25 13:54] #20 closed

[2017-08-25 17:43] benblo commented on #380
OK so I guess [this is where LightMode comes from](https://docs.unity3d.com/Manual/SL-PassTags.html)... is it set to a default value if unset?

[2017-08-30 09:10] benblo opened #383 "documentation sets a bad example!"
https://docs.unity3d.com/2017.2/Documentation/ScriptReference/Experimental.Rendering.RenderPass.html
Documentation gives a very good advice "NOTE: DO NOT ALLOCATE NEW RENDERPASSATTACHMENTS EVERY FRAME!"... but then later it allocates no less than 6 arrays in the loop, per frame: `new[] { albedo, specRough, normal, emission }`, etc.
I know those are only C# arrays, not tracked Unity Objects, but th

[2017-08-31 18:50] benblo opened #385 "global shader variables"
So... 1 question and 1 request:
* What's the status of RenderSettings and SRP? Are ambient color fog settings etc still set? I have a weird bug where ambient light color is not the same when I enable SRP. It's also not the same in game and scene view!
  * BTW, I see that the UNITY_LIGHTMODEL_AMBIENT macro returns glstate_lightmodel_ambient... why is ambient a glstate and not just a global constant

[2017-09-01 11:42] AlexandreFiset opened #386 "Compiling errors in Unity 2017.2b9"
Not sure if here is the right place to report this, but importing the ScriptableRenderLoop in an empty project (with PostProcess Stack) in Unity 2017.2 latest beta prints ~400 errors in the console, the first one being:

/ScriptableRenderLoop/ScriptableRenderPipeline/HDRenderPipeline/HDRenderPipeline.cs(217,17): error CS1061: Type `UnityEngine.Rendering.CommandBuffer' does not contain a definition

[2017-09-01 17:26] benblo commented on #385
Regarding the ambient light setting: I'm pretty sure SRP doesn't set it, whatever value is in there seems to be what was left by whoever modified it last, the scene view seeming a likely culprit (it sets its own ambient light if the "light" toggle is off, instead of using the scene settings).

Also, it seems like Pipeline.Render() is called twice per frame (at least in edit mode*), and I receive d

[2017-09-02 15:27] JacobSmaga commented on #386
It's probably because they are using 2017.3 already, Try downloading this (It's 2017.3 alpha) it might work https://forum.unity3d.com/threads/presets-feature.491263/

[2017-09-04 00:25] AlexandreFiset commented on #386
Well I just found the "releases" tab and now feel like an idiot. The master simply doesn't work at all with any version of Unity, including 2017.3 alpha. Downloading 2017.2 tag now.

[2017-09-04 07:19] sebastienlagarde commented on #386
Yes, as this repository is use internally as main development repository the master tend to be out of sync with the latest public version of Unity. We regularly create a "Release" of the code so users are able to compile it with available public version.

[2017-09-04 07:27] sebastienlagarde commented on #380
Hi,

Yes, it is legacy mode from Unity that we rely on. Very odd indeed but required for now to avoid to break stuff.

You can think about it as a comment.

no. There is no default either.
This is necessary as want to distinguish different pass to handle different rendering pass (shadow, velocity vector, gbuffer, forward...).

[2017-09-04 10:45] benblo commented on #380
OK, thanks!

Just to be clear, if Name is a comment we can just not put it at all? (seems to work for me, just want to make sure there are no side-effects.)

I ended up slapping `Tags{ "LightMode" = "ForwardBase" }` in all our shaders Pass so I can give that to DrawRendererSettings, doesn't seem to break legacy (we don't use any of Unity's lighting).

... overall, the SubShader Pass syntax feels l

[2017-09-04 10:45] #380 closed

[2017-09-04 10:50] benblo opened #388 "ability to disable/change pipeline in a build"
I'm porting a project to SRP, going slow but steady so far.
I'd like to be able to toggle between legacy and SRP in a build, so I view any differences, compare framerate, etc... didn't find a way to do this via API, only Graphics Settings: am I missing something?

[2017-09-04 11:35] sebastienlagarde commented on #385
Not sure about this one, I need to ask around.

SRP don't have feature parity with legacy Unity, mean all features are not fully supported.
Something like the fog tend to be re-do differently by the various render pipeline (for example, HD Pipe use a different system), thus why this may not have been supported. In the mean time, it still possible to provide your own fog system.

No idea, Unity is

[2017-09-04 11:40] sebastienlagarde commented on #388
You can do this with GraphicsSettings.renderPipelineAsset changing it will switch the render pipeline. settings null will enable legacy.

Note: This is fine for a render pipeline base on legacy shader, but some render pipeline don't support legacy pipeline at all like HD.

[2017-09-04 12:00] sebastienlagarde commented on #380
yes. Don't need to use it

[2017-09-04 14:07] benblo commented on #385
In my case doing this was enough to fix the issue:
[code]
... but sure, I think we'll just ditch any builtin variable use and just provide our own, it's more explicit this way.

---

OK... but I mean, if at least you can guarantee that the C++ variables are set before any of our scriptable commands run, then we should be able to simply override any global we want using a CommandBuffer at the begin

[2017-09-04 14:13] benblo commented on #388
Awesome, got my build! can't believe I missed that.

Yup that's understood, but it's fine in our case.

Thanks for all your answers Seb :) !

[2017-09-04 14:14] #388 closed

[2017-09-04 14:16] JacobSmaga commented on #386
Hello Sebastien, Can we expect to get updated 2017.2b9 release this week? Latest one is +1 month old and i see that SRP got many new features such as: Volumetric Lighting, Clear Coat shader etc.

[2017-09-04 16:46] aras-p commented on #386
The head of the master branch here will be following "latest unity internal master" for a while, as it has always been. Right now that is _way_ beyond 2017.2 actually; currently it's actually 2017.3 alpha builds, but will soon become 2018.1 codebase. Until we "ship this" in an actual Unity release, the master hence will always be "too new", sorry!

[2017-09-04 18:38] AlexandreFiset commented on #386
Thanks Aras for clearing this up. So should we assume this won't ship until 2018.x ? 😅

[2017-09-06 12:52] sebastienlagarde commented on #386
We hope to deliver a first "release" for 2018.1

[2017-09-06 12:56] sebastienlagarde commented on #385
It is the case already. If a value is not set, it mean that we forgot to set it for SRP, it will not be set later (or maybe a legacy code will set it somewhere for unclear reasons

It is required to not have access to objects if you want performance :). C# is still slow like hell.

yes, that is a confusing behavior, but due to how Unity editor work.

[2017-09-06 14:50] benblo commented on #385
Great, thanks!

Eheh, for sure! I was thinking of the far future ;)
That really feels like a perfect fit for the job system: define custom renderers, with the corresponding rendererSystem, that would process the culled objects in cache coherent batches, etc.
... or, allow us to write C++ renderers... in a much further future!

Actually after thinking about it, it probably makes sense: the editor m

[2017-09-06 14:50] #385 closed

[2017-09-07 14:18] haolange commented on #386
Excuse me, I downloaded the 2017.1 version of SRP. Why did it prompt the project file created by 2017.1.Beta3 when it opened?

[2017-10-20 11:15] benblo opened #517 "how to render reflection with SRP?"
We have a custom water solution that uses OnWillRenderObject() to take a snapshot of the scene into an RT.
The thing is, with SRP now OnWillRenderObject() is not called anymore (at least not in editor, though I've seen it called in builds :s), which is great... but then what's the replacement?

What's the best practice for this kind of systems now? To me this is akin to shadows, but custom.
I'm ha

[2017-11-24 23:34] AlexandreFiset opened #609 "2017.3.0b10 Warnings with HDPipe"
Hi,

Not sure if this is specific to my Surface Book (940M), but I have these warnings while playing in an empty scene with HDPipe:

- CommandBuffer: temporary render texture _AmbientOcclusionTexture not found while executing  (SetComputeTextureParam)
- CommandBuffer: temporary render texture _ShadowMaskTexture not found while executing  (SetComputeTextureParam)
- CommandBuffer: temporary render t

[2017-11-24 23:41] sebastienlagarde commented on #609
Thanks for the report!
Yes it is know problem and isn't hardware specific. But good to report anyway in case we missed it. Cheers.

[2018-01-04 22:23] RamiroOliva opened #750 "SRP does not work with public 2017.3.0f3 on Mac?"
I'm sure this is install-related issue but I just downloaded latest SRP sources and kicked it into an empty Unity 2017.3.0f3 project on a Mac and it blowed up with tons of errors, missing namespaces, pink materials, etc.

Any hint ?

[2018-01-04 22:24] JacobSmaga commented on #750
Unity 2018.1 Beta which includes SRP comes out in a few days, Just wait.

[2018-01-04 22:48] RamiroOliva commented on #750
Alright - thanks.

[2018-01-05 11:20] sebastienlagarde commented on #750
You can use the pre-release 2017.3 with 2017.3 binaries

[2018-01-05 17:56] williamj-unity opened #756 "xR Multipass Renders black in lightweight render scene"
To reproduce:
1) Enable Virtual Reality support
2) Set the Mock HMD -Vive as the default device
3) Set the rendering mode to multipass
4) Open The LightweirghtBasicScene
5) Enter playmode, observe black render

Notes:
- The singlepass rendering modes work fine
- This reproduces on an actual device such as the Vive using OpenVR as well. Haven't had a chance to try an oculus device

Version 2017.3.0

[2018-01-05 18:28] williamj-unity commented on #756
Update!  SRP doesn't support multipass. There is future UI work that will remove those modes from the playersettings when using SRP.

[2018-01-05 18:28] #756 closed

[2018-01-09 15:31] niexuchina opened #768 "Mobile devices support"
Hi.
Is this available on mobile devices such and Android and IOS phones?
How can I use it on mobile devices?
Thanks. :)

[2018-01-09 17:10] sebastienlagarde commented on #768
Hey,

Lightweight render pipeline is running on all platform
HD is for compute shader capable platform only, currently Metal is barely supported

[2018-01-10 16:41] williamj-unity opened #773 "Projectors + LW renderpipe causing crash"
Repro steps:

To repro with project:
1) Open the projector scene
2) enter playmode or switch to game window
3) Observe crash

Additional steps:
4) Open the project again
5) Remove the lightweight render pipe asset from the graphics settings.
6) Enter playmode
7) Observe, no crash and expected projector results

[EditorProjectorCrash.log](https://github.com/Unity-Technologies/ScriptableRenderPipeli

[2018-01-15 05:37] niexuchina commented on #768
Thanks. :)

[2018-01-15 05:37] #768 closed

[2018-01-21 17:28] Gui205 opened #843 "UnityException: FindKernel failed"
When i open the demo scene i got this error :

`UnityException: FindKernel failed
UnityEngine.Experimental.Rendering.EncodeBC6H..ctor (UnityEngine.ComputeShader shader) (at Assets/ScriptableRenderPipeline/Core/CoreRP/EncodeBC6H.cs:39)
UnityEngine.Experimental.Rendering.HDPipeline.HDRenderPipeline..ctor (UnityEngine.Experimental.Rendering.HDPipeline.HDRenderPipelineAsset asset) (at Assets/Scriptabl

[2018-01-21 17:32] sebastienlagarde commented on #843
Two thing to check:
- Do you have a SRPMARKER file in your root ScriptableRenderPipeline folder ? (it is present in our github project)
- If yes, then you have certainly merge code on an already created project. Try close Unity and erase your shaderCache folder and file shaderCache.db.
- If it still doesn't work, erase your project Library folder

[2018-01-21 18:03] Gui205 commented on #843
Yes i have SRPMARKER in my asset root.

- I erase my shadercache => No change
- Erase Library folder =>Work

Thanks !

[2018-01-29 05:17] EddieSoloProjects opened #876 "Unity 2017.3.0p1 error CS0246"
Assets/ScriptableRenderPipeline/ScriptableRenderPipeline/Core/CoreRP/Editor/IncludePaths/CoreShaderIncludePaths.cs(9,10): error CS0246: The type or namespace name `ShaderIncludePath' could not be found. Are you missing an assembly reference?

I tried deleting the Library folder. Didn't help

[2018-01-29 08:16] sebastienlagarde commented on #876
Hi,
If you use 2017.3 you need to use the corresponding tagged release: https://github.com/Unity-Technologies/ScriptableRenderPipeline/releases

This error mean that you use a more recent Github code than your current binaries version are handling.

[2018-01-29 08:16] #750 closed

[2018-01-29 08:16] #386 closed

[2018-01-29 09:20] EddieSoloProjects commented on #876
Thanks that Fixed the issue.

[2018-01-29 09:20] #876 closed

[2018-02-03 22:13] KarimLUCCIN opened #898 "Extensible HD Pipeline?"
https://github.com/Unity-Technologies/ScriptableRenderPipeline/blob/2f6aa8302d3847b44928977a49955f64c58ebf99/ScriptableRenderPipeline/HDRenderPipeline/HDRP/HDRenderPipeline.cs#L662

Could the Render function be authored in a way that makes it easy to be extended? (protected variables as opposed to private, Render function made of different virtual stages as opposed to a monolithic bloc).

I wish I

[2018-02-05 03:26] pointcache commented on #843
I have the same issue, i deleted Library couple of times to no avail.

[2018-02-05 23:38] jackpr-unity opened #902 "Negative scale on gameobjects sometimes borks rendering"
[SRP-LW-NegativeScale.zip](https://github.com/Unity-Technologies/ScriptableRenderPipeline/files/1697190/SRP-LW-NegativeScale.zip)

Found using Unity 2018.1.0b6, SRP LW 0.1.28

To reproduce: In the attached project, change any component of the scale of the cube marked "this cube" to negative.

Expected Result: Cube is rendered, albeit "backwards" (which is observably no different from rendering wit

[2018-02-13 00:25] StewMcc opened #929 "Broken Baked Emission"
Lightweight-SRP-0.1.28 Unity-2018.1
Repro steps:
 - Open 005_LitBakedEmission
 - Rebake lighting
 - Notice sphere emissive on self, but no longer emissive on other static objects.

Comments:
Bizarrely temperamental, will move sphere around scene and rebuild lighting, and sometimes it will work but not consistently.

[2018-02-21 19:24] AGeorgy opened #975 "Can I get better performance on mobile devices with using SRP than with using Vertex lit render patch and this shader and how?"
﻿Shader "Unlit/VertexColor"
{
	Properties
	{
		_Collor ("Main Collor", Color) = (1,1,1,1)
	}

	CGINCLUDE
	uniform float4 _Collor;

	struct vertOutput
	{
		float4 vertex : SV_POSITION; // clip space position output
		fixed4 color: TEXCOORD0; // texture coordinate output
	};

	vertOutput Vertex (
		float4 vertex : POSITION0, // vertex position input
		half4 color : COLOR0
		)
	{
		vertOutput output;

[2018-02-22 21:48] Skjalgsm opened #984 "error CS0227: Unsafe code requires the `unsafe' command line option to be specified"
In a very small project using Unity 2018.1.0b8 and installing Render-Pipelines.Lightweight version 0.1.28 with the package manager I get 4 errors

I have specified the unsafe command in all my assembly definition files as well as the Player Settings and the error does not go away.

[2018-02-22 22:36] sebastienlagarde commented on #984
There is an option somewhere in the editor to enable (sorry don''t remind from head currently). With more recent version > 0.1.31 this is fix

[2018-02-22 22:56] raphael-ernaelsten commented on #984
PlayerSettings -> OtherSettings -> Allow 'unsafe' Code

[2018-02-22 22:57] Skjalgsm commented on #984
This does not fix the issue

tor. 22. feb. 2018 kl. 23:56 skrev Raphaël Ernaelsten <
notifications@github.com>:

[2018-02-22 23:28] raphael-ernaelsten commented on #984
If it doesn't work with the option (bug?) you'll have to use the compiler options with a rsp file : https://docs.unity3d.com/Manual/PlatformDependentCompilation.html

If I remember correctly, you just need to specify -unsafe in a mcs.rsp file and it should work.
I attached the file in a zip, just drop it into your assets folder, it should work if my memory is good on this one.
[mcs.zip](https://gi

[2018-02-25 06:06] Maomao110 opened #1003 "Unity Version:2018.1.0b8 error Assembly has reference to non-existent assembly"
A new Unity beta version
A new Project
And Copy the project from the github , paste to the new project

Then the errors come out:
       Assembly has reference to non-existent assembly 'com.unity.postprocessing.Runtime' (Assets/ScriptableRenderPipeline/ScriptableRenderPipeline-master/ScriptableRenderPipeline/LightweightPipeline/LWRP/Editor/com.unity.render-pipelines.lightweight.Editor.asmdef)

[2018-02-25 11:58] Prastiwar commented on #984
If you still have this problem, take a loot at this solution:
https://forum.unity.com/threads/2018-1-0b8-new-hd-project-unsafe-code-requires-the-unsafe-command-line-option-to-be-specified.518558/

[2018-02-26 09:02] stramit commented on #984
HI. Yeah so a change was snuck into b8 without us being aware. There needs to be something specified in the asmdef to allow unsafe code. This has been added into the repository now - Things should start working again when a new version is published (bb895bb22a5b1feb32e39ebd5b5300b01aae93af )

If you want to clone locally pulling anything after this should have the fix (e81b8c38df3e58f52f40f88e93cb

[2018-02-26 09:02] #984 closed

[2018-02-26 09:03] stramit commented on #1003
See case 984

[2018-02-26 09:03] #1003 closed

[2018-02-26 09:36] stramit commented on #984
Actually via the package manager you can probably grab 1.0.0-beta now and it should be good to go. NOTE: You will have to remove ShaderGraph first before updating.

[2018-02-26 09:40] stramit commented on #902
Hi jack. We think we have fixed this issue. It looks like a core unity rendering bug and required changes to unity.exe (i.e not a LW change). It should be fixed for beta 10 :)

[2018-02-26 09:40] #902 closed

[2018-02-26 11:57] Skjalgsm commented on #984
man. 26. feb. 2018 kl. 10:36 skrev Tim Cooper <notifications@github.com>:

I can confirm that it is now workkng with the new beta 👍

[2018-02-26 16:10] sp-ivan-hernandez opened #1005 "Enable warning as errors"
If the project is using warning as errors we get the following errors with unity 2018.1.0b8:

`Library/Unity/cache/packages/packages.unity.com/com.unity.render-pipelines.core@1.0.0-beta/CoreRP/Shadow/Shadow.cs(318,27): error CS0219: Warning as Error: The variable `texelSizeX' is assigned but its value is never used`

`Library/Unity/cache/packages/packages.unity.com/com.unity.render-pipelines.core@

[2018-02-26 21:26] jackpr-unity opened #1007 "Long path name causes source control issues"
"/Assets/ScriptableRenderPipeline/Tests/GraphicsTests/RenderPipeline/HDRenderPipeline/Scenes/1xxx_Materials/1101_Unlit/Emissive_Color/18_Unlit_Textured_Trans_Alpha_PreRefractionPass_AlphaCutoff_Doubleside.mat.meta"

is 212 characters worth of path.  This long path causes issues when using source control unless I create a project in an intentionally high-level folder.

Can long path names like this

[2018-02-27 20:53] shawmakesmusic commented on #517
My solution was https://docs.unity3d.com/ScriptReference/Application-onBeforeRender.html

[2018-02-28 17:42] SnugglePilot opened #1017 "VR + Lightweight Pipeline -- no non-VR cameras?"
We're using the new Lightweight render pipeline (1.0.0-beta) on 2018.1.0b9.

Any camera in a VR scene that does not have "target eye: Both" set fails to render. Is this an intended feature/optimization, or is this a bug?

The camera generates a warning I'll paste here for posterity (zero hits on google):

Scriptable Render Pipeline stereo support requires single-pass stereo.
UnityEngine.GUIUtility

[2018-02-28 18:46] mrlinds opened #1019 "Directional Light Culling Masks don't work properly"
If you make a scene with objects set to two different layers and then make two directional lights set to affect those layers separately, the directional lights will still affect both layers.

[2018-02-28 20:09] robbiesri commented on #1017
I think this is a bug.  From inspection, I think I have an idea on how to fix this.  We are supposed to be detecting stereo on a per-camera basis (and we do this correctly in HDRP).  I am working on some other VR fixes, but I'll try to push out a PR for the per-camera stereo fix today.

Admittedly, I don't know how long it takes to go from GitHub fix to actual deployment (my fault that I'm unfamil

[2018-03-01 01:36] robbiesri commented on #1017
Ok, got a PR out right meow with the fix.  Thanks for reporting!

[2018-03-01 01:40] mrlinds commented on #1019
Ah, forgot to note that I'm seeing this in Lightweight Pipeline

[2018-03-05 07:47] iBicha opened #1033 "ARBackgroundRenderer support"
[ARBackgroundRenderer](https://docs.unity3d.com/ScriptReference/XR.ARBackgroundRenderer.html) relies on command buffers to fill the screen with a material before opaque rendering.

This class is relied on to render background in AR apps (ARCore, ARInterface, etc)
I think it should be supported by - at least - the LWRP, so it would work out of the box on existing projects (I'm seeing this in issues

[2018-03-07 02:23] robbiesri opened #1049 "LWRP + XR: Investigate stereoEyeIndex VS->PS parameter issue in LWScreenSpaceShadows.shader"
When updating LightweightScreenSpaceShadows.shader for XR, I ran into an issue where I was getting an incorrect unity_StereoEyeIndex in the fragment shader.

This was very surprising because the Interpolators struct had the  UNITY_VERTEX_OUTPUT_STEREO parameter declared (uint stereoEyeIndex : SV_RenderTargetArrayIndex), which specifies the slice that will be rasterized to.  The rasterization was w

[2018-03-07 02:27] robbiesri opened #1050 "Add XR support to MSVO"
When I was doing the bulk of the XR work, MSVO was under development, so I didn't get a chance to work on it.  Well...it needs XR support.

[2018-03-07 02:28] robbiesri commented on #1050
Shit, wrong repo

[2018-03-07 02:28] #1050 closed

[2018-03-08 15:32] iBicha commented on #1033
https://github.com/google-ar/arcore-unity-sdk/issues/131#issuecomment-370695963

[2018-03-08 22:10] julhe opened #1062 "No MSAA in VR when using Lightweight Asset"
MSAA is working fine in the editor and game view, but I once press play and enter VR, its gone.

[2018-03-08 23:32] robbiesri commented on #1062
What version is this?  I fixed up some issues last week.  Not sure when they got pushed out through Package Manager (if they have, tbh).

[2018-03-08 23:43] julhe commented on #1062
2018.1.0b8

[2018-03-08 23:49] robbiesri commented on #1062
Did you get SRP from here (GitHub) or Package Manager?

[2018-03-09 00:07] julhe commented on #1062
Got it from GitHub. Im using OpenVR if this is of any interest.

[2018-03-09 00:23] robbiesri commented on #1062
Hrmmmm, it should be working. I just tested locally, was working.  I did just fix a bunch of other XR issues with this PR:
https://github.com/Unity-Technologies/ScriptableRenderPipeline/pull/1020

Which landed after your version.  So...maybe give this as a try, if it works with your version of Unity?

[2018-03-09 11:38] julhe commented on #1062
Alright, it's working in the most recent version. Thank you! 😄

[2018-03-09 11:38] #1062 closed

[2018-03-09 16:25] jackpr-unity commented on #902
I am currently running through a full test pass on 2018.1.0b10.  I can't repro this - the problem looks fixed to me.

[2018-03-10 14:18] sebastienlagarde commented on #1007
This issue also affect us. This is really sad for windows OS... @RemyUnity. Please take this in consideration. Thanks

[2018-03-10 14:21] sebastienlagarde commented on #898
Not what you are asking, but see: https://forum.unity.com/threads/feedback-wanted-scriptable-render-pipelines.470095/page-8#post-3408481 . We have various discussion internally about extension. Our priority however is first to ship a working product.

[2018-03-10 14:22] sebastienlagarde commented on #609
Fixed in latest master and 2018.1 branch

[2018-03-10 14:22] #609 closed

[2018-03-10 14:23] sebastienlagarde commented on #843
All these issues should be fixed now in latest master and 2018.1 branch

[2018-03-10 14:23] #843 closed

[2018-03-10 14:25] sebastienlagarde commented on #383
Sorry for the delay, is this related to SRP? LW/HD? Can't find the code mention (but the issue is very old now so....)

[2018-03-10 14:26] sebastienlagarde commented on #773
I don't know if projector are supported. @phi-lira ?

[2018-03-10 14:27] sebastienlagarde commented on #517
This post should help: https://forum.unity.com/threads/feedback-wanted-scriptable-render-pipelines.470095/page-8#post-3408481

[2018-03-10 14:30] sebastienlagarde commented on #975
@phi-lira any comment?

[2018-03-12 01:45] iBicha commented on #1033
While we're at it, shouldn't command buffers added using [Camera.AddCommandBuffer](https://docs.unity3d.com/ScriptReference/Camera.AddCommandBuffer.html) be retrieved and executed in the render pipeline in the appropriate order? It should be at least an option in the pipeline asset, whether to execute command buffers on individual cameras or not.

[2018-03-12 04:52] robbiesri commented on #1033
Hey @iBicha , sorry for lag here. Tim and Seb can talk more about this but there is support coming for callbacks in the pipelines (before rendering and before each camera). I’d guess the AR background setup could be scheduled somewhere in there. However, it’s not specifically before opaques...

Re: Camera.AddCommandBuffer
Part of jumping over to these new pipelines is breaking away from legacy inf

[2018-03-12 04:55] robbiesri commented on #1033
Check out #898 for more deets

[2018-03-12 06:42] iBicha commented on #1033
Thanks for the reply, as far as I know, `ARBackgroundRenderer` adds its commands on `BeforeGBuffer` and `BeforeForwardOpaque`, which makes the most sense if the purpose is to replace the clearing/skybox rendering.

I know this new system trying to revamp rendering from the ground up, I'm just saying, to get a smoother transition, maybe we can have a `Legacy rendering support` checkbox in the Asset

[2018-03-12 10:36] phi-lira commented on #975
SRP should be marginally faster than vertex render path. We are currently making improvements to reduce the CPU side state management overhead. Therefore the performance gap should increase even more between them.

You can make your shader work with Lightweight Pipeline if you remove the "LightMode" = "Always" tag from your subshader.

[2018-03-12 10:38] phi-lira commented on #773
Hi. We haven't added support to projectors yet in LW. I'll look into that.

[2018-03-13 01:00] benblo commented on #383
Yes it's old but it's still right there in the docs: https://docs.unity3d.com/ScriptReference/Experimental.Rendering.RenderPass.html
<code>
            // Start the first subpass, GBuffer creation: render to albedo, specRough, normal and emission, no need to read any input attachments
            using (new RenderPass.SubPass(rp, **new[]** { m_Albedo, m_SpecRough, m_Normal, m_Emission }, null))
</

[2018-03-13 06:24] AGeorgy commented on #975
Thankyou @phi-lira. Yes I had a test of that shader with SRP and really didn't notice any performance difference. But I had to ask, maybe I was wrong. Ok, anyway thanks.

[2018-03-13 06:24] #975 closed

[2018-03-13 07:51] sebastienlagarde commented on #383
@strandborg any correction?

[2018-03-13 07:53] sebastienlagarde commented on #1007
This will be updated soon.

[2018-03-13 07:53] #1007 closed

[2018-03-13 07:56] strandborg commented on #383
Yes, the example in the docs should be corrected.

[2018-03-21 10:36] Verasl commented on #929
This is fixed now, it was due to the meta pass somehow wanting world space vertex coords rather than object space, hence why it could work if you had your mesh close to or at origin.

[2018-03-21 10:36] #929 closed

[2018-03-23 07:58] demonixis opened #1119 "How to use the Terrain shader with the LW SRP?"
Hello,

I try to use the Lightweight SRP with an existing VR project. Everything is fine except the Terrains.
I replaced the default material by the LW/Standard Terrain, but the terrain is pink. It seems the shader don't want to use existing data.

Regards,

[2018-03-24 21:28] aammfe opened #1122 "Assembly has reference to non-existent assembly 'com.unity.postprocessing.Runtime'"
Hello !
I have unity 2018.1.0b11 and clone this repo in project  and getting this error.

![image](https://user-images.githubusercontent.com/11896817/37869141-2b98ecc0-2fd4-11e8-9f73-38e7a09b6ef5.png)

Assembly has reference to non-existent assembly 'com.unity.postprocessing.Runtime' (Assets/SRP/ScriptableRenderPipeline/ScriptableRenderPipeline/LightweightPipeline/LWRP/com.unity.render-pipelines.l

[2018-03-27 16:14] phi-lira commented on #773
Hi, I've confirmed recently that projections are not going to be supported by SRP. Therefore, I'll close the issue.

[2018-03-27 16:14] #773 closed

[2018-03-27 16:26] phi-lira commented on #517
As a reference for future. We added the following callbacks:

public static event Action<Camera[]> beginFrameRendering;
public static event Action<Camera> beginCameraRendering;

[2018-04-03 14:54] strandborg opened #1145 "BufferPyramid.cs uses Compute Dispatch UAV writes to the color pyramid, but doesn't have enableRandomWrite set for them"
See topic.

[2018-04-04 14:22] giordi91 opened #1149 "[Question] Geometries not showing up"
Good afternoon, I am trying to use the SRP and having an hard time to get it to roll, I was able to follow the blog post correctly for clearing the screen:
https://blogs.unity3d.com/2018/01/31/srp-overview/

It doesn't seem to work for opaque and opaque + transparent, I do get the sky-box but the geometry doesn't show up, just tried dropping a box and a cube, although if selected wire-frame shows

[2018-04-04 19:34] gnlnx commented on #1149
did you set an SRP asset in Edit/Project Settings/Graphics?

[2018-04-06 20:50] sk4r opened #1160 "Unity 2018.1.0b13 - Error in new Lightweight RP project"
When I create a new project in Unity 2018.1.0b13 on Linux using the Lightweight RP template, I get the following error:

[code]

If I'm not mistaken, that line refers to `CoreRP/ShaderLibrary/Common.hlsl`:

https://github.com/Unity-Technologies/ScriptableRenderPipeline/blob/94c0221afe87899fcf9f41d6a184c4aa25cb97ff/ScriptableRenderPipeline/Core/CoreRP/ShaderLibrary/EntityLighting.hlsl#L4

Because L

[2018-04-09 07:36] giordi91 commented on #1149
Yes, I am able to run the solid color pipeline or the unity provided one (from blog post) and the Retro3D,
respectively getting:
1) solid color background (the one I picked), can change etc
2) Just skybox and geo wireframe if geo selected
3) grey background as expected.

So overall the pipeline is getting triggered fine, just the geo really doesnt want to get through. Other than the asset is there

[2018-04-09 08:16] beinteractive opened #1161 "[LWRP] Multiple cameras + Render Texture causes uGUI disappears on iOS"
Setup a scene like the following:
  - Camera A
    - Depth: -1
    - Target: Render Texture
  - Camera B
    - Depth: 0
    - Target: Screen
  - Canvas
    - Render Mode: Screen Space Camera B

Run this scene on iOS, uGUI is not rendered on a screen. This issue is not happened in Editor.

<img width="300" alt="Editor" src="https://user-images.githubusercontent.com/1482297/38486763-ee8006c4-3c18-11

[2018-04-09 12:01] michael-nischt opened #1162 "Shader error in 'ShadowBlurMoments.compute': All kernels must use same constant buffer layouts; 'blurWeightsStorage' property found to be different"
After installing 'Render-pipelines.core' 1.1.2 via the package manager (on Unity 2018.1.0b13 - experimental Linux Editor) I get the following error statement:

`Shader error in 'ShadowBlurMoments.compute': All kernels must use same constant buffer layouts; 'blurWeightsStorage' property found to be different`

[2018-04-10 20:46] sebastienlagarde commented on #1149
We have observe this issue internally on one configuration, but it appear that this is also present with buitin Unity. As a confirmation can you check that a regular new level of built-in unity is correctly display ?

[2018-04-11 09:18] phi-lira commented on #1160
Fixed in #1171

[2018-04-11 11:06] giordi91 commented on #1149
Hi, can you please clarify what you mean by: "regular new level of built-in unity",
Should I try with a fresh project in 2018.b13 and latest master for SRP?

[2018-04-11 11:43] sebastienlagarde commented on #1149
Hey, I mean remove any render pipeline from Graphic Settings, and then do File new scene. Add some sphere and plane, check that they are display. In our case it is display only in GameView but no in SceneView and for built-in as well as any SRP.

[2018-04-11 16:01] giordi91 commented on #1149
What is the latest beta that works with master of this repository? I am trying to make a new project from scratch in b13, but it straight up fail to compile several of the shaders for some reason, I think last time I used b8 and opened with b13 and worked.

Would be good to have fully working snapshot that can be downloaded and just dropped in assets, we have restricted internet access so any auto

[2018-04-11 17:17] sebastienlagarde commented on #1149
Master is aiming to work with internal version, only tagged version work with public release.

This is the purpose of tagged version.

This is certainly an issue due to unable to open shader include file, we get this problem a lot and currently try to solve it.

[2018-04-13 08:07] KoalaHao opened #1192 "Lightweight rendering with tilemap Bug"
Bug detail:
Tiles disappear in game view, when tile is not visible in the scene view

Steps to reproduce:
1. create a new project
2. install Lightweight rendering pipeline
3. add a tilemap to the scene with a few tiles
4. make sure the tiles are in view by the main camera
5. move the everything out of view in the scene view, (or simply close the scene view)
6. click on play, **tiles are no longer

[2018-04-15 12:53] clankill3r opened #1203 "RenderPipelines not showing up in project"
I try to install the the lightweight render pipeline, i'm on mac.
I have unity 2018.1.0b13 installed using unity hub.
I installed the lighweight render pipeline using the new package manager.
There it says `1.1.2 preview` so maybe they are not compatible?

In my project window nothing shows up:

<img width="341" alt="screen shot 2018-04-15 at 14 50 49" src="https://user-images.githubusercontent.co

[2018-04-15 20:00] traggett opened #1204 "[Question] Scene Mask"
Hey! I've been experimenting with the new ScriptableRenderPipeline and I'm trying to work out how to render objects from a particular scene

Could you explain how the sceneMask property works in ScriptableCullingParameters? I've experimented with setting different values on it and it seems to render objects from all scenes if the value is less than zero, or no objects if it's greater than zero.

I

[2018-04-16 09:41] giordi91 commented on #1149
I have done both work around and no luck. Still same errors, can you confirm me that the code in master of SRP is supposed to work with beta 13? (by work i mean at least compile with no errors, so that I can try the rest).

[2018-04-16 09:53] giordi91 commented on #1149
After keep deleting the Library and ShaderCache folders several times it loaded correctly, but the issue with geometry not showing up still appear both in editor and game views. This is in a new project in b13.

[2018-04-16 12:43] 0jb opened #1207 "Dynamic Batching"
I couldn't find any info about this, I'm testing lightweight rendering pipeline and seems that dynamic batching is not there.

What I did:
Opened 007_LitShaderMaps.scene, created a quad with Standard shader and duplicated. Then I verified that the number of batches increased.

Forward_Asset doesn't seem to work with dynamic batching as well.

If I deactivate SRP (go to graphic settings and delete

[2018-04-16 15:04] phi-lira commented on #1017
@robbiesri I can't remember. Do you know if Multiview is ported to SRP shader lib?

[2018-04-16 20:17] robbiesri commented on #1017
Multi-view is indeed ported over. I only tested on a Pixel. I haven't tried out any Samsung phones, or any new Pixels.

[2018-04-17 15:55] giordi91 commented on #1122
did you do the submodule init? seems like post processing has not been cloned, which does not happen by default by being a git submodule

[2018-04-18 10:46] phi-lira commented on #1161
Hi. This issue got scheduled to be fixed in the next package version. I'll look into it sometime next week and tag a PR with a fix here so you don't have to wait for the package.

[2018-04-19 13:18] hippocoder opened #1233 "MSVO lacking overlay mode for stylised rendering?"
Hello!

I wondered if I was using it wrong, but for a large portion of projects which use stylised rendering, MSVO settings would benefit from an overlay mode - ie entirely ignoring the lighting in the scene, for clay, cartoon, NPR rendering.

Please consider! :)

[2018-04-19 13:42] wtesler commented on #1017
I receive this warning on 2018.2 beta:

`Scriptable Render Pipeline stereo support requires single-pass stereo.`

Does that mean multi-pass isn't supported yet?

[2018-04-19 14:49] sebastienlagarde commented on #1233
Are you talking inside a particular pipeline (i.e HD?) or your own SRP?

MSVO in itself just calculate the ambient occlusion, its application is render pipeline specific.

In the case of HDRP it happen in PostEvaluateBSDF() of lit.hlsl file. Here you can tweak the code to remove all lighting where there is AO (either direct or indirect).

[2018-04-19 14:51] sebastienlagarde commented on #1192
@phi-lira any thought ?

[2018-04-19 14:52] sebastienlagarde commented on #1207
@stramit Any though?

[2018-04-19 16:12] phi-lira commented on #1192
Hey @KoalaHao. I'm doing a bugfix sweep next week. This bug is on the list. I'll get back with more info on it then.

[2018-04-19 18:51] TylerCode opened #1238 "Rendering not working on LRP in WebGL"
Lightweight render pipeline doesn't render geometry in WebGL. This problem is occuring when built using Unity 2018.1b13 and LRP 1.1.4. A screenshot is below.

![webgllrp](https://user-images.githubusercontent.com/18288340/39011839-d986896e-43cf-11e8-8a2e-ea6a0941feeb.png)

It all works fine in the editor as you can see here (the camera is in the same place as above):

![lrpeditor](https://user-ima

[2018-04-19 19:50] robbiesri commented on #1017
Yes, there is not explicit support for multi-pass in SRP.

_However_, there is nothing precluding an enterprising developer from manually adding multi-pass support to any SRP that supports stereo.  You'd just go through the render pipeline twice, manually extracting out the per-eye state and binding it for rendering.  Then you'd manually composite the two eyes into the single-pass eye RT that will

[2018-04-20 09:57] phi-lira commented on #1238
Hi Tyler. This issue seems related to the fact WebGL doesn't support the job system. We are looking into that. I'll get back to you when I have more information.

[2018-04-20 14:05] sebastienlagarde commented on #1207
Haven't more info about if it is supported or not, but we know that for SRP we want to discourage usage of DynamicBatching as it is inefficient in most case. For speed purpose ,we have a new SRP batcher coming in 2018.2.

[2018-04-20 16:13] traggett commented on #1204
Poke :)
Can anyone explain how the sceneMask or cullingMask in ScriptableCullingParameters are supposed to be used? The docs unfortunately say nothing and can't find anything in the source code.
Thanks!

[2018-04-20 20:13] TylerCode commented on #1238
Thanks, @phi-lira, would this issue affect Mobile as well? I know the features are very new and I didn't see a lot of info on it.

[2018-04-21 17:44] hippocoder commented on #1233
Thanks, this is what I was looking for.

[2018-04-21 17:44] #1233 closed

[2018-04-23 08:26] phi-lira commented on #1238
No. Mobile works fine.

[2018-04-23 14:05] giordi91 commented on #1149
Any news on this?

[2018-04-24 09:39] sebastienlagarde commented on #1149
Can you confirm that you haven't the issue with buitin Unity? In the case we have observed this it was not a SRP problem but a general unity problem. And fix should come with new binaries of 2018.1 (that have sadly been delayed a bit).

[2018-04-24 16:20] hippocoder opened #1264 "Apply Range Attenuation currently non functioning"
https://i.imgur.com/dWEfYmL.png

I have tested on 3 different machines, 2018.1 and 2018.2 with 1.1.4 and 1.1.5 and just wanted to confirm that it is currently expected not to work yet (or possibility of bug).

Thanks!

[2018-04-25 09:39] giordi91 commented on #1149
Can you clarify what you mean by builtin unity?

[2018-04-25 15:39] giordi91 commented on #1149
Oh I see, no regular pipeline is all good, I am using a mix of 2018.b13 and latest 2017 for my daily work. Old pipeline works fine, even with custom deferred shaders etc, so only  an Issue I am seeing with 2018.b*

[2018-04-25 16:43] sebastienlagarde commented on #1149
ok, so it is rather unexpected. Is it possible that you zip your scene/project that don't work (or have a small new scene) ? So we can test it. Thanks

[2018-04-26 07:44] giordi91 commented on #1149
I will need to double check here at work, due to the policy not sure if that can be done through github, we might have to do it through internal channel. I will get back to you. I will also test with the correct handle b13.

[2018-04-26 11:48] sebastienlagarde commented on #1149
I you create a new project with your current version, do you have the problem?
i.e launch your unity version, create a new project, copy/paste the folder ScriptableRenderPipeline (or the package you use), create a cube, assign the render pipeline, is the cube visible ?

If it isn't, we just need your project (with should contain this scene with a cube and SRP source code) and the exact binaries ve

[2018-04-26 11:59] giordi91 commented on #1149
I just did that on my surfacePRO that has internet collection, downloaded b13 fresh, installed SRPHD, SRPCore, ShaderGraph and PostProcessing from package manager. Create a cube all good (not using any SRP). Then I clone the example from SRP-Blog post repository (from Unity's blog post), create opaque render pipe, cube disappear, if I select it, I only see the wireframe.

I am gonna figure out how

[2018-04-26 13:18] giordi91 commented on #1149
Please find attached the zip, the binary used is 2018.1.0b.13

[srpagain.zip](https://github.com/Unity-Technologies/ScriptableRenderPipeline/files/1951296/srpagain.zip)

Here the setup:
![screenshot 26](https://user-images.githubusercontent.com/2525797/39308089-7a7f8f46-495c-11e8-8e5f-2c30a9525dea.png)
![screenshot 27](https://user-images.githubusercontent.com/2525797/39308092-7d07451a-495c-11e8-8

[2018-04-26 13:20] sebastienlagarde commented on #1149
Thanks!

@RemyUnity can you check this ^^.

[2018-04-26 13:45] RemyUnity commented on #1149
Hello @giordi91

I took a look at your project, and apparently you simply forgot one specificity of SRP :

You are using the OpaqueAssetPipe in your project, and if you look at OpaqueAssetPipe.cs line 50 :
`var settings = new DrawRendererSettings(camera, new ShaderPassName("BasicPass"));`
You'll notice that this pipe is coded so that it will only render object with shaders that have a passed named

[2018-04-26 15:34] equalsequals opened #1284 "[LWRP] NullReferenceException thrown from HDReflectionProbeEditor when using LWRP"
I have a project with the SRP Git Repo 2018.1 branch, so it contains code for both LWRD and HDRP. I currently have LWRP set as my active ScriptableRenderPipeline in my Graphics Settings, but upon selecting a Reflection Probe in a Scene the console gets spammed with a NullReferenceException from UnityEditor.Experimental.Rendering.HDReflectionProbeEditor.Gizmos_Influence.

Here is the provided excep

[2018-04-27 07:00] giordi91 commented on #1149
Thank you for checking into this, might be worth to specify that in the blog post since I was trying to write my own from scratch.
PS: since we are here, that is what I get if I create a new project with the HD render pipeline preset.
![screenshot 29](https://user-images.githubusercontent.com/2525797/39348845-aa7b6f96-49f0-11e8-8262-a282f781d1af.png)
![screenshot 30](https://user-images.githubuser

[2018-04-27 07:00] #1149 closed

[2018-04-27 07:10] RemyUnity commented on #1149
This can happen from time to time : dependencies are not loaded in the right order in the packages. Usually simply re-opening the editor should fix the issue. Or entering play mode will re-create the render pipeline and can fix it too.

[2018-05-01 20:54] equalsequals opened #1295 "CommandBuffer.SetGlobalMatrixArray only the first index gets populated"
Upon passing a Matrix4x4 array using:
[code]

and sampling it in a Shader, the second index is empty (all 0's).

Breaking it apart into 2 separate float4x4 properties in the Shader and setting them individually works as expected.

Using Unity 2018.1.0f1 and the latest of the Unity 2018.1 branch.

[2018-05-02 15:36] hectorC opened #1296 "VR support not available in the HDRP"
Hello,

Now that Unity 2018.1 has been released, I tried to get the HDRP to work with VR but the HMD doesn't display anything and on the Game window I can see the camera is tracking but the image is not stereo and appears stretched. I know that a few months back support for VR in the HDRP was not implemented and there was mention of it coming in the future. Am I doing something wrong or is VR supp

[2018-05-02 16:38] sebastienlagarde commented on #1296
Hi,
There is no VR support for now for HDRP. The work have started but we don't have ETA for it.

[2018-05-03 13:04] RemyUnity commented on #1295
Hello @equalsequals ,
I was able to properly set a matrix array through command buffer and properly read all the value from a shader, using same version of Unity and the 2018.1 branch.
Could you maybe share your project or a minimal repro project ?

[2018-05-04 03:59] Leandro6758 opened #1303 "Dynamic Batching disabled temporarily in the current context to avoid z-fighting"
Before using the Lightweight Pipeline my scene had around 39 draw calls. With the pipeline it jumps to around 70. If I remove it, the calls come down automatically.

An example from the frame-debugger:

With the pipeline (several calls for the floors):

![image](https://user-images.githubusercontent.com/2287313/39612441-fa1dabc8-4f35-11e8-8b6c-2847ab353ba7.png)

No Pipeline (one single call):

![i

[2018-05-04 06:48] Noob-Vulcan opened #1304 "Not able to see Assets with Lightweight Shader on Phone VR (Cardboard , Daydream and Gear VR)"
Hi ,

I just tried to test a scene using Lightweight RP for VR , but i'm not able to see those assets which have LightWeight shader on them .

Tried  the build with cardboard , daydream and gear vr too  , but getting same result

[2018-05-04 15:20] Leandro6758 opened #1310 "VideoPlayer doesn't work using Lightweight Pipeline"
I have a VideoPlayer with a small video (for a splash), that works perfectly on iOS and Android. If I use the Lightweight Pipeline, the video doesn't render. Once I remove it, the Video works perfectly again.

With pipeline:

![image](https://user-images.githubusercontent.com/2287313/39636122-af3880f0-4f95-11e8-86dc-4f03261a4f03.png)

No pipeline:

![image](https://user-images.githubusercontent.co

[2018-05-04 15:33] robbiesri commented on #1304
The XR support for Lightweight is Single-pass Stereo only. Are you using Single-pass?

[2018-05-05 03:57] McGunn opened #1316 "All Meshes Invisible in Android Build LWRP"
I can't for the life of me get any meshes to render at all in my Android build. It runs fine in-editor and it runs fine built in 2017.3 with no scriptable render pipeline.
I'm using 2018.1.0f2
pipelines.core and pipelines.lightweight imported through package manager.
I've tried lightweight standard PBR and simple lighting, I've tried lightweight unlit, and I've tried a few of my shader graph shade

[2018-05-05 09:09] mihakrajnc commented on #1161
Any news on this issue?

[2018-05-05 10:33] Noob-Vulcan commented on #1304
Yes , i'm using Single Pass ..PFA
![screen shot 2018-05-05 at 4 02 24 pm](https://user-images.githubusercontent.com/13568651/39662352-dda92686-507d-11e8-8779-bc999f5ebb5b.png)
![screen shot 2018-05-05 at 4 01 40 pm](https://user-images.githubusercontent.com/13568651/39662354-ddd47656-507d-11e8-84eb-18f11e6ed416.png)
![screen shot 2018-05-05 at 4 01 21 pm](https://user-images.githubusercontent.com/

[2018-05-05 15:15] julhe opened #1317 "Posteffects not working in VR with LWRP"
Title says all. Its working fine in the scene view, but not in-game. 😟

[2018-05-06 08:38] DethRaid commented on #1162
I've also encountered this. I'm on the 2018.1 editor and am using DirectX 11 on Windows 10

[2018-05-06 14:30] Leandro6758 opened #1318 "Cloud build failing to build due to LWRP"
Getting a few of these errors in UCB:

![image](https://user-images.githubusercontent.com/2287313/39674346-bf4640ae-5120-11e8-8d87-805d03e31be7.png)

Example for text search:
Shader error in 'LightweightPipeline/Standard (Physically Based)': failed to open source file: 'LWRP/ShaderLibrary/InputSurfacePBR.hlsl' at line 148 (on glcore)

Already tried switching to different beta versions and the erro

[2018-05-07 00:17] TheRealCatherine opened #1319 "Unsafe code requires the `unsafe' command line option to be specified"
After selecting any of the three (or all 3) render pipelines in Package Manager my project begins showing the following compile errors:

(example for Core):
AppData/Local/Unity/cache/packages/packages.unity.com/com.unity.render-pipelines.core@1.1.5-preview/CoreRP/Shadow/ShadowUtilities.cs(267,51): error CS0227: Unsafe code requires the `unsafe' command line option to be specified. Enable "Allow 'u

[2018-05-07 00:26] robbiesri commented on #1304
I just saw #1316. Does the scene render on your phones w/ VR disabled?

[2018-05-07 00:42] robbiesri commented on #1304
and #1318 popped up.  I wonder if this has something to do with some new shader bits...

[2018-05-07 05:36] EIZENHORN91 commented on #1319
You can manually add “allowUnsafeCode: true” (correct if I forgot how to spell correctly, long ago it was) in manifest.json, but it was be fixed earlier in first betas

[2018-05-07 06:52] sebastienlagarde commented on #1264
I re-open it, as it is a valid issue :)

[2018-05-07 06:55] sebastienlagarde commented on #1318
This is a common issue that is solve in 2018.2 and we try to backport to 2018.1.

Workaround to try for this: Re-import SRP folder, reboot Editor then re-import.
Or try erase shader cache (file and directory) in library folder, reboot editor and re-import.

[2018-05-07 06:56] sebastienlagarde commented on #1317
Psotprocess are not supported with VR (iirc - cc @Chman)

[2018-05-07 06:57] sebastienlagarde commented on #1316
@phi-lira any though?

[2018-05-07 06:58] sebastienlagarde commented on #1310
@phi-lira any though? For HD we have added a dedicated render path for video player, don't know if LW is requiring one too

[2018-05-07 06:59] sebastienlagarde commented on #1304
@phi-lira any though?

[2018-05-07 07:00] sebastienlagarde commented on #1303
@phi-lira any though?

Note that we don't recommend to use dynamic batching, it often result in poor performance.

[2018-05-07 07:00] #1296 closed

[2018-05-07 07:02] sebastienlagarde commented on #1284
@RemyUnity can you check? Thanks

[2018-05-07 07:03] sebastienlagarde commented on #1162
@uygar3d is it still the case?

[2018-05-07 07:04] sebastienlagarde commented on #1161
Poke @phi-lira

[2018-05-07 07:05] #517 closed

[2018-05-07 07:06] sebastienlagarde commented on #1019
@phi-lira is it still the case?

[2018-05-07 07:06] #1203 closed

[2018-05-07 07:07] #1122 closed

[2018-05-07 08:09] Chman commented on #1317
Post-processes do work in VR with the standard pipeline, in multi-pass and single-pass non instanced. Make sure you're not running single-pass instanced. Aside from that, I'm not sure what the current support for VR is in LWRP.

[2018-05-07 08:14] Chman commented on #1317
Btw, what's your target platform?

[2018-05-07 09:03] julhe commented on #1317
Currently Windows with OpenVR. Maybe PS-VR in the future. I use Single-Pass rendering. BTW: is this supposed to be?
![grafik](https://user-images.githubusercontent.com/18037091/39693977-0811a952-51e6-11e8-81e9-7894c0a35f63.png)

[2018-05-07 09:13] Chman commented on #1317
Nope, looks like it's hardcoded in LWRP. It shouldn't be anymore. cc @phi-lira

[2018-05-07 09:31] Noob-Vulcan commented on #1304
And i found something else .. I tried on few other phones (One Plus 5t , Lenovo zuk 2 , Google Pixel) with the below settings ....
![screen shot 2018-05-07 at 2 56 24 pm](https://user-images.githubusercontent.com/13568651/39695119-1606e196-5207-11e8-820c-a1522c1901df.png)

and i found that only Google pixel was able to run the application (Though couldn't see the LW Shader objects ) and in other p

[2018-05-07 09:56] unity3d-kr opened #1322 "(unity 2018.1.0f2) Point lights do not express in LWRP."
test:
1. new scene
2. add sphere(or other primitive), set LightweightShader.shader
3. add point light -> no expression. bug!
4. add one more point light -> expression.

I fix it for you.
https://github.com/unity3d-kr/ScriptableRenderPipeline

Download and overwrite LightweightPipeline.cs file.

[2018-05-07 09:56] developer6dlab commented on #1304
I have the same trouble. I tryed to Build for cardboard using Unity 2018 with shadergraph. I tryed lot of ways to do that. I can build for cardboard using Unity 2018 (without shadergraph) but no more

[2018-05-07 11:06] TheFishInABowl commented on #1162
I get this in the LW-VR-RP aswell.

[2018-05-07 14:48] SteveElbows opened #1326 "Volumetric Dimmer broke volumetric directional light support but fix is trivial"
I believe the following is missing from GetDirectionalLightData in LightLoop.cs, causing no volumetric effects to be visible for directional lights:

directionalLightData.volumetricDimmer = additionalData.volumetricDimmer;

I tried adding it myself and the directional light volumetrics started working again.

[2018-05-07 15:09] EvgeniiG commented on #1326
Hi Steve,

Good catch! Thanks for reporting the bug - I've pushed the fix:
https://github.com/Unity-Technologies/ScriptableRenderPipeline/commit/09b9c606faa5f549ff2dbbc74cb7eab1b01ec8eb

Cheers,
Evgenii

[2018-05-07 19:07] TheRealCatherine commented on #1319
I can try that though I'm unsure of where to add it, is it like:
{
       "allowUnsafeCode: true",
	"dependencies": {
               blahblah
	}
}

or

{
	"dependencies": {
               blahblah {
                 "allowUnsafeCode: true"
              }
	}
}

or some other way?

I'm currently having this issue with 2018.1.0f2 and whatever version of SRP is currently in the Unity Package Manager

[2018-05-07 20:32] Leandro6758 commented on #1303
@sebastienlagarde thanks for the response.

Quick question though, not to contradict you or anything, simply to be able to explain the team what's going on.

We were under the impression that reducing Draw Calls was a desired outcome. Our game is GPU bound, so it would potentially help with fill-rate issues. Now, reading that Dynamic Batching can often result in poor performance comes as some kind

[2018-05-07 20:41] equalsequals commented on #1322
Can you elaborate on what you've changed? I did a diff of your file versus the latest, but it appears I am branched at a newer revision.

Was it just this addition?
[code]

[2018-05-08 01:35] unity3d-kr commented on #1322
https://github.com/unity3d-kr/ScriptableRenderPipeline/commit/942e08362e6a2dc475c457544c15ffac9c771d10#diff-893b05e2b1a2b667e4d92edf4ee3a661

[2018-05-08 05:54] play123 opened #1328 "Gear VR with Lightweight Pipeline not work"
Hi I'm using Unity 2018.1.0f2 + LightWeight render pipeline + gear VR  .
App not working and showing black screen. but if I switch to unity normal render pipeline then its work.

[2018-05-08 07:04] sebastienlagarde commented on #1328
@phi-lira any though?

[2018-05-08 08:51] phi-lira commented on #1303
Hi Leandro,

Thanks for reporting this. I've just fixed it for LWRP. We will generate a new package later this week on staging. After some QA that should be on production shortly after.

About the dynamic batching. It does have a cost on cpu side as we have to generate and upload the vertex buffers every frame. It won't help you if you are fill rate bound but in some cases it will help if you are

[2018-05-08 09:14] phi-lira commented on #1019
LWRP treats directional lights as globals to avoid branching and indexing and provide a fast shading path for them. I've added to my backlog to look for an alternative performant way for this.

[2018-05-08 09:25] phi-lira commented on #1161
Hey, I'm sorry. This seems an issue on the SRP/engine side. It might take a little longer to get a fix for this.

[2018-05-08 09:28] phi-lira commented on #1207
Hey, SRP does support dynamic batching, however the default behavior is to disable it by default.
I'm adding a setting on the LWRP asset so one can choose to enabled Dynamic Batching and Instancing in the renderer.

[2018-05-08 09:43] phi-lira commented on #1304
Hey all. We are looking into a fix for this. There's an issue in the SRP shader api that is affecting multiview and single pass on adroid.

[2018-05-08 09:45] phi-lira commented on #1303
Related to #1207

[2018-05-08 09:46] phi-lira commented on #1328
Hi, we are looking into this issue atm. Related to #1304

[2018-05-08 09:49] phi-lira commented on #1310
Thanks for reporting that. I'll take a look at it.

[2018-05-08 09:53] phi-lira commented on #1316
Hi @McGunn, are you having this issue while on VR?

[2018-05-08 09:55] phi-lira commented on #1317
I tested recently and there was still an issue with PostFX and LWRP. That's why it was forcebly to be disable. I'm trying to get someone from VR team to take a look at it.

[2018-05-08 09:56] phi-lira commented on #1192
There's a fix inbound for this issue. It requires engine changes so it might take a little bit while the fix is available.

[2018-05-08 10:03] phi-lira commented on #1322
Hey @unity3d-kr. That tag has a weird in between state of LWRP. The issue is either fixed on master or LWRP but I can't remember just now which. LWRP will be merged soon to master.

Be aware that we are refactoring the LWRP to make it more modular easily extendable. So, expect some heavy changes on the LWRP pipeline.

[2018-05-08 10:05] phi-lira commented on #1322
Fixed in #1216

[2018-05-08 10:06] #1322 closed

[2018-05-08 12:48] Leandro6758 commented on #1303
Thanks! We'll do some research about how to properly use GPU instancing then

[2018-05-08 20:22] SteveElbows opened #1338 "VolumeTextureAtlas AddTexture non-matching format error log reports requiredTextureSize instead of requiredTextureFormat"
As per title, last part of line 68 of VolumeTextureAtlas.cs should be requiredTextureFormat.

Otherwise the error message says expected format of 32 instead of expected format of Alpha8.

[2018-05-08 22:17] sebastienlagarde commented on #1338
@Wadarass ^^.

Thanks for the report.

[2018-05-09 00:32] Wadarass commented on #1338
@sebastienlagarde I’ll fix when I bring over my mipmapping changes.

[2018-05-09 11:52] diegoperini opened #1340 "Shader Graph cannot render to CustomRenderTexture"
I'm not sure if it was within the scope of 2018.1 update but currently there seems to be no way to use Shader Graph for painting textures.

[2018-05-09 12:43] sebastienlagarde commented on #1340
Yes, this is not possible currently. We plan to add the support for later this year.

[2018-05-09 12:43] #1340 closed

[2018-05-11 04:42] equalsequals commented on #1317
@phi-lira

Im curious what issues are you observing? I've made modifications to my local branch of LWRP and managed to get PPSv2 working in VR (FXAA, Bloom, and Color Correction, specifically) which look correct in my testbed.

[2018-05-11 04:52] equalsequals commented on #1295
Hi @RemyUnity

Apologies for the delayed response, I'm working on a minimalistic repro case.

For loose context, I am implementing a full-screen Blit around the AfterOpaque Pass, just before the PPS would be executed for Opaque Image Effects. I do a 4-corner frustum per-eye and pack it into a Matrix4x4[2] for use with the target eye index.

Step-debugging was showing that the matrices were properl

[2018-05-11 09:39] giordi91 opened #1345 "Inspecting culling result"
Good afternoon, I am in the process for a while to try to implement shadows in a custom SRP using the SRP demo from the unity's blog post as a base, right now I butchered the shadow pass from LWRP, code runs fine, I can see the shadow pass being registered in render doc, but no shadows get rendered,
I don't mean they don't show up in the shadow map, there is not the draw call at all, this led me t

[2018-05-11 14:39] equalsequals opened #1346 "LWRP Visible Light Popping"
I have a thread about this on the forums: https://forum.unity.com/threads/lwrp-visible-light-popping-issue-with-sorting.530382/

To reiterate my most, even if I am currently under the Visible Light limits (8) I get sporadic popping of Lights when they are set to anything but 'Important'. This is from the 2018.1-experimental branch and 2018.1.0f2

[2018-05-11 19:15] frededk opened #1349 "Hololens Deploy Exceptions"
I have no trouble deploying on my Hololens except when I use the Lightweight Render Pipeline. When I deploy to a Hololens with the LRP the app crashes with a few exceptions:

`'MixedRealityToolkit-Unity.exe' (Win32): Loaded 'C:\Windows\System32\Windows.Devices.Sensors.dll'. Cannot find or open the PDB file.
onecoreuap\drivers\mobilepc\sensors\convergence\services\broker\client\simpledeviceorientat

[2018-05-13 14:13] DevJoseWeb commented on #349
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'PostProcessing' does not exist in the namespace 'UnityEngine.Rendering' (are you missing an assembly reference?)	Assembly-CSharp	C:\Users\web2a\OneDrive\3DKit\Assets\3DGamekit\Scripts\Game\Utility\QualitySettingPostprocessProfileSwitch.cs	4	Active

[2018-05-13 18:56] mgeorgedeveloper commented on #1304
@phi-lira what is the best way to get an eventual fix? Will an update automatically appear within the Package Manager in Unity? I just updated 1.1.5-preview, so shall I keep an eye out for a newer version soon?

[2018-05-14 07:00] beinteractive opened #1356 "[LWRP] Multiple Cameras causes Post-Processing disappearing"
Setup a scene like a following:

  - 1st Camera
    - Depth: -1
    - Post-Process Layer
  - 2nd Camera
    - Depth: 0
    - Clear: Depth Only

It expects that a post-processed image has been rendered on the screen, but actually not if the 2nd camera is enabled.

2nd Camera: Enabled
<img width="600" alt="2018-05-14 15 55 22" src="https://user-images.githubusercontent.com/1482297/39982437-51228f68-

[2018-05-14 09:54] mihakrajnc opened #1357 "LWRP Shader compile issues"
We're using LWRP and we're getting compile errors:

[code]

This causes mostly everything to appear pink (apart from the UI). The issue can sometimes be resolved by restarting the editor / deleting the Library folder, however, the main issue is that this also happens on Cloud Build, where it seems to start working at random. Sometimes a new build with no changes will fix the issue, sometimes a cle

[2018-05-14 22:10] ylluminarious commented on #1203
@sebastienlagarde I am having the same issue, but I don't see the `Rendering` dropdown item. I'm on macOS 10.13.4 and Unity 2018.1.0f2.

[2018-05-14 22:26] sebastienlagarde commented on #1203
If you don't see the "Rendering" menu like on the screenshot above, it mean the render pipeline don't compile, check the console and see if there is any error

[2018-05-14 22:31] ylluminarious commented on #1203
@sebastienlagarde Could it be due to an error in a 3rd-party plugin?

[2018-05-14 22:44] ylluminarious commented on #1203
@sebastienlagarde Hmm, it seems I've resolved some errors that *were* there, but are gone now and yet I still can't see the `Rendering` menu item. What can I do now? Is there some other way to create the Pipeline Asset?

[2018-05-14 23:10] ylluminarious opened #1359 "Can't create new Render Pipeline Asset or upgrade materials"
I'm getting a serious headache from trying to create a new Render Pipeline Asset. According to the instructions on both the [forum thread](https://forum.unity.com/threads/feedback-wanted-lightweight-render-pipeline.518267/) and the [blog post](https://blogs.unity3d.com/2018/02/21/the-lightweight-render-pipeline-optimizing-real-time-performance/) about the LWRP, you can make a new Asset via:

[code

[2018-05-15 01:39] unity3d-kr commented on #1357
I change relative path to absolute path. and I success console build.

LightweightStandard.shader
~~#include "LWRP/ShaderLibrary/InputSurfacePBR.hlsl"~~
~~#include "LWRP/ShaderLibrary/LightweightPassLit.hlsl"~~
#include "/Assets/ScriptableRenderPipeline/ScriptableRenderPipeline/LightweightPipeline/LWRP/ShaderLibrary/InputSurfacePBR.hlsl"
#include "/Assets/ScriptableRenderPipeline/ScriptableRenderP

[2018-05-15 10:39] blueloveTH opened #1361 "Some questions about Lightweight Pipeline"
1) The **MSAA** settings in Camera component has **no effect**,it only depends on LW settings asset.
2) The **Render Mode** in Light component has **no effect**,I set one as important but it still render **per-vertex**,it always **ignores my choice** and sorts the light importance **automatically**,which is not expected.
3) Function **OnRenderImage()** will not be called in LW Pipeline,it is build

[2018-05-15 12:38] blueloveTH commented on #1361
Additional:
This code was used for transparent object works bad
Pass{
    ZWrite On
    ColorMask 0
}
Pass{
    Zwrite Off
    //...
}

But the vertexs of these objects still produce false occlusion.

[2018-05-15 23:32] ylluminarious commented on #1359
Doh! I solved the issue by importing the Render Pipeline packages from the Package Manager :sweat_smile:

I guess I had to look under `Window -> Package Manager` and just get the ones I needed.

[2018-05-15 23:32] #1359 closed

[2018-05-15 23:34] ylluminarious commented on #1318
I can confirm that erasing the shader cache in the Library folder and rebooting the Editor seems to make the error go away.

[2018-05-16 00:13] diegoperini opened #1362 "Order Independent Transparency"
I'm trying to achieve order independent transparency in LWRP/HDRP. I wonder if there is a way.

[2018-05-16 00:59] anilu221 commented on #1304
I tried it with the Oculus Go, I have a scene with a cube on the ground that uses a graph shader , whenever I try to look down at the cube the screen goes black, but if i look up or anywhere on the scene where the cube is not visible, the screen works normal.

[2018-05-16 01:13] ylluminarious commented on #1203
@sebastienlagarde I managed to solve my issue [here.](https://github.com/Unity-Technologies/ScriptableRenderPipeline/issues/1359#issuecomment-389347041)

[2018-05-16 11:30] phi-lira commented on #1361
Hi, thanks for reporting it. I'll take a look at 1 and 2. About 3 @Chman any comments?

[2018-05-16 11:33] phi-lira commented on #1362
Hey Diego, You forgot to add a description to the issue. Please update it so we can help.

[2018-05-16 11:36] phi-lira commented on #1328
Fixed in the following PR #1350 This will be backported to 2018.1 soon. We are looking into generating a new package by the end of this week.

[2018-05-16 11:36] #1328 closed

[2018-05-16 11:40] phi-lira commented on #1304
Fixed in the following PR #1350 This will be backported to 2018.1 soon.

@mgeorgedeveloper We are looking into generating a new package for 2018.2 this week.
for 2018.1 backport it should be also a new package available soon. It will appear automatically in the Package Manager.

@anilu221 Amplify lit shaders don't work with LWRP due to diff light constant setup. LWRP works with ShaderGraph. Does t

[2018-05-16 11:51] phi-lira commented on #1049
@brandon-unity3d does your PR fixes this?

[2018-05-16 13:11] diegoperini commented on #1362
This issue was created due to an error of mine in one of my git scripts. Sorry for the inconvenience.

I'm trying to achieve order independent transparency in LWRP/HDRP. I wonder if there is a way.

[2018-05-16 22:47] McGunn commented on #1316
@phi-lira No, this is not in VR. Any time I build for Android I get these results. It's now been tested multiple phones with different OS versions as well. Note 4, S7, S9.

[2018-05-17 07:40] sabillano opened #1363 "Emissive Per Layer?"
We used to use Substance Material Layering at my company. Now that it has been deprecated,l looks like this is the way to go. But there is no Emissive per Layer. We had the same issues with Substance long time ago and we had to change the shader on our own. Why everybody forgets about the emissive??

Right now there is one emissive at the end of the LayeredLit Material.
We need to have Emissive as

[2018-05-17 08:47] TreesAreOP opened #1364 "Camera callbacks not working"
The OnPreRender and OnPostRender camera methods are not called when using the LWP.  Neither in the Unity Editor nor in a standalone build.
Note: For some reason they get called when the Shader Graph Editor is active.

Unity Version: 2018.1.0f2
SRP Version:  1.1.8-preview
Shader Graph Version: 1.1.8-preview

[2018-05-18 06:04] conorhynesire commented on #1363
This is needed for me also!

[2018-05-18 11:10] diegoperini commented on #1364
They are deprecated as far as I know. You can use `RenderPipeline` events `RenderPipeline.beginCameraRendering` and/or `RenderPipeline.beginCameraRendering` instead.

https://docs.unity3d.com/ScriptReference/Experimental.Rendering.RenderPipeline.html

[2018-05-19 17:18] supron54321 commented on #1238
Any news on this issue? WebGL has very limited resources and would really benefit from lightweight pipeline.

[2018-05-20 19:42] VadimTikhonyuk opened #1366 "TextMeshPro Doesn't Work"
Hi, everyone

I used LWR on Android Platform
And TextMeshPro does not work.

![image](https://user-images.githubusercontent.com/13260375/40282930-d4d9d2d2-5c7e-11e8-8190-ddbf14a82646.png)

And Console is clear

I used Unity 2018.1.0f2 and RPL 1.1.5-preview

[2018-05-21 07:47] phi-lira commented on #1362
If you want Order Independent Transparency you can implement depth peeling. http://www.eng.utah.edu/~cs5610/lectures/OrderIndependentTransparency.pdf

[2018-05-21 07:47] #1362 closed

[2018-05-21 07:48] phi-lira commented on #1316
Could you guys provide a repro project so I can take a look?

[2018-05-21 08:42] VadimTikhonyuk commented on #1366
Using TextMesh from Package Manager fixed this problem!

[2018-05-21 09:27] hayashi1987 opened #1368 "GBuffers doesn't seem to be cleared correctly"
In HDRP, GBuffers except RT0(diffuse color) doesn't seem to be cleared every frame.
When I resizing view window size, I can see RT1 is overlapping with past frames (using Frame Debugger).
I added a custom process which uses GBuffer infomation after GBuffer pass, so it must be cleared correctly.

So I inserted a line to HDRenderPipeline.cs such as below, then RT1 was cleared correctly.

Is this beh

[2018-05-21 12:42] VadimTikhonyuk commented on #1316
@phi-lira
Unity 2018.1.0f2 -> Package Manager -> core & lightweight 1.1.5 ->
Set LWP in Graphics Settings -> Update Materials under LWP -> add Cube on scene with shader(lightweightPipeline/...) -> And Build under Oculus (GearVr)

[2018-05-21 12:43] VadimTikhonyuk commented on #1316
I have same problem, tried to take 1.1.8 from github dev branch, but all shaders there compiling with a lot of errors

[2018-05-21 15:39] TreesAreOP commented on #1364
OK thank you!

[2018-05-21 15:39] #1364 closed

[2018-05-21 15:45] sebastienlagarde commented on #1357
know issue already reported. I will close this one as duplicate.

[2018-05-21 15:45] #1357 closed

[2018-05-21 15:47] sebastienlagarde commented on #1346
@phi-lira any though?
Note: 2018.1-experimental, is not officially supported and the problem you have may be fix in 2018.2 upcoming version.

[2018-05-21 15:51] sebastienlagarde commented on #1345
@uygar3d any comment?

There is currently ongoing effort to make something else for the cull result structure and shadow, we will be able to access the number of visible object for shadow after that, however it will stay an opaque structure.

For other example usage of shadow and SRP you can look at the shadow framework in CoreRP (and its usage in HDRP), but no documentation yet about how to use i

[2018-05-21 16:01] sebastienlagarde commented on #1363
Hi,

We have remove the "substance" material in Unity, but nothing prevent you to use Substance layering material and bake the results in textures.

The layeredLit shader is very big and we chose deliberately to not blend all the textures or mode supported by the Lit shader. This cause Keyword explosion and maintenance issue. We will rely on shader graph to handle all the desired artists cases (on

[2018-05-21 16:05] sebastienlagarde commented on #1356
@RemyUnity ^^Bug report / Test also in HD

[2018-05-21 16:36] sebastienlagarde commented on #1368
Hi, in HD the GBuffer is not clear for performance reasons (This save 4 fullscreen clear of  32bit target),  the scene is constantly fully rewritten, so no need for a clear.

However when you do a custom pass on the Gbuffer data after the GBuffer pass you must use the Stencil test to not process no-lighting pixel (StencilLightingUsage.NoLighting: i.e sky for example, or forward material will tag t

[2018-05-21 16:46] equalsequals commented on #1346
@sebastienlagarde I've spoken a bit with @phi-lira  about this already. I believe this is fully reproducible in the current release tags for Package Manager as well. I had been observing this through the 2018.1 branch before I made the switch to 2018.1-experimental.

Please let me know if there's any additional info you'd need that would be of assistance.

[2018-05-22 01:13] anilu221 commented on #1304
Could someone make it work with the new release?

[2018-05-22 09:26] phi-lira commented on #1366
Ok. Good to know. I'd just poked them and 1.2.2 should be working. I'll close the issue then.

[2018-05-22 09:26] #1366 closed

[2018-05-22 10:11] ap-chuan commented on #1162
Getting this error in 2018.1.0 F2 / LTRP as well. It's been flagged as " fixed " on the issue tracker but the bug is still there. Please revise your testing procedures :
[ https://issuetracker.unity3d.com/issues/ltrp-switching-to-android-platform-gives-shader-error-in-shadowblurmoments-dot-compute-all-kernels-dot-dot-dot-error-in-the-console ]

[2018-05-22 10:17] amitchai commented on #1316
Same issue. Gear VR/ Invisible on device.

[2018-05-22 10:55] phi-lira commented on #1316
@VadimTikhonyuk @amitchai VR has indeed an issue and there's a fix on flight for 18.2, backport coming soon to 18.1. #1017

I've asked OP about a repro scene for this as he says this issue he is reporting is not VR related.

[2018-05-22 11:09] phi-lira commented on #1304
@anilu221 It requires engine changes. An update on Amplify. They already ported to LWRP so it should be working.

[2018-05-22 13:09] frideal opened #1370 "We can't use Unity3d's Terrain Engine In HDSRP?"
When I open a HDSRP template project,click create 3D terrain.
Nothing happened! There is no 3D terrain in the scene just a GameObject with Terrain Component.

We can't use Unity's Terrain Engine in HDSRP?or how do we create some terrain stuff in HDSRP?

[2018-05-22 13:11] sebastienlagarde commented on #1370
Hi, Terrain is not supported in HDRP currently.

[2018-05-22 13:24] Chman commented on #1361
Afaik there's no support for `OnRenderImage` on SRPs so you'll either have to use the post-processing stack or write your own effects for LWRP.

[2018-05-22 14:41] frideal commented on #1370
Thanks.
How do we create some "terrain" stuff in HDSRP?
one way is using Height Map with Plance and use PolyBrush to modify the vertex ?

[2018-05-22 21:21] anilu221 commented on #1304
@phi-lira Thanks, I decided to try to do everything with the shader graph instead of amplify, but the shaders still don't render on Oculus Go when I switch to the LWRP 1.1.5. I haven't had much time to work on it and to test around different options, so maybe I'm missing something or I'm doing something wrong.

I'm working on Unity 2018 1.1.f1 with the Core & LWRP 1.1.5 and the newest package of O

[2018-05-22 22:05] mgeorgedeveloper commented on #1304
@phi-lira @anilu221 I still get black screen only. This is with 1.1.5, which is the same version that's been there since before this discussion started... so, I'm just checking daily for a 1.1.6?

[2018-05-23 08:49] uygar3d commented on #1345
Culling is a black box right now and done automatically for all lights flagged as shadow casting, based on the light type. Internally this creates a renderqueue and associates it with the light index. You can call GetShadowCasterBounds on the cull results with the right index - this will return false if no object survived culling for that shadow caster. When rendering shadows the DrawShadowsSettin

[2018-05-23 10:05] unity3d-kr commented on #1162
This bug show on Android platform.

I try to fix this bug. If you need it. Download here.
https://github.com/unity3d-kr/ScriptableRenderPipeline

[2018-05-23 11:45] SunsetOrange opened #1381 "Type `UnityEngine.Light' does not contain a definition for `lightmapBakeType'"
Earlier today I updated Unity to the latest version (Unity 2018.1.1f1). Since then I'm unable to build my project anymore, as I get an error. I have tried uninstalling and reinstalling the SRP Core & HDRP with no change (SRP Core 1.1.8-preview, High Definition Render Pipeline 1.1.8).

The error is as follows:

C:/Users/Michael/AppData/Local/Unity/cache/packages/packages.unity.com/com.unity.render-

[2018-05-23 14:23] equalsequals commented on #1381
Yeah, I hit this issue too. It appears that using `Light.bakingOutput.lightmapBakeType` ([Docs](https://docs.unity3d.com/ScriptReference/LightBakingOutput.html)) is the run-time equivalent, but it's certainly not obvious.

[2018-05-23 15:28] phi-lira commented on #1304
@anilu221 @mgeorgedeveloper
 - Currently there's only a fix for 2018.2 beta. The only way to get it now is to get SRP from github master. Follow the instructions here to do it: https://gist.github.com/phi-lira/7bc0109a3bbb2bc2ef132cd05bb26f14
 - We are generating a new package for 2018.2 tomorrow. Sorry for the delay.
 - For 18.1 we are in the process of backporting it but since this requires Unit

[2018-05-23 15:49] isurfraz commented on #1363
@sabillano but shadergraph will solve this so it seems a mute point?

[2018-05-23 15:59] alindmanUnity opened #1387 "Having multiple of the same subgraph in a main graph"
(in the 2018.2.0b4 beta version available through Unity Hub)
1. Create new sub graph asset
2. Complete whatever functions the sub graph needs to complete
3. Create new PBR graph asset (lightweight)
4. Creating new PBR graph returns
    "Assertion failed on: 'success'"
5. open the graph in graph editor
    graph functions as expected without any console output
7. Add one node of created subgraph as

[2018-05-23 16:39] SunsetOrange commented on #1381
I copied over the GlobalIlluminationUtils.cs with the new version, and the build process is now successful.
The issue seems resolved. Thanks.

[2018-05-23 20:46] anilu221 commented on #1304
@phi-lira I'll try it on the next 2018.2 package, Thanks a lot!!

[2018-05-24 00:34] phi-lira commented on #1303
Fixed in #1367 Support for Dynamic Batching can be requested in the pipeline asset.
We will generate a new package with this fix tomorrow.

[2018-05-24 00:34] #1303 closed

[2018-05-24 00:34] phi-lira commented on #1207
Fixed in #1367 Support for Dynamic Batching can be requested in the pipeline asset.
We will generate a new package with this fix tomorrow.

[2018-05-24 00:34] #1207 closed

[2018-05-24 06:52] #1381 closed

[2018-05-24 07:10] sebastienlagarde commented on #1370
I haven't really any advice here (Sorry, I am not a terrain developer).
"Terrain" may be imported from outside for now (i.e created static mesh outside of Unity, and slice it).  This is the method used in this demo: https://blogs.unity3d.com/2018/03/12/photogrammetry-in-unity-making-real-world-objects-into-digital-assets/

[2018-05-24 07:11] sebastienlagarde commented on #1338
@Wadarass Can I close this one?

[2018-05-24 07:18] hayashi1987 commented on #1368
Thank you very much!
I tried this solution, and I will probably got good result.

[2018-05-24 10:30] unity3d-kr commented on #1161
I have same bug on Android.

[2018-05-24 16:21] Wadarass commented on #1338
The fix is still in https://github.com/Unity-Technologies/ScriptableRenderPipeline/pull/1343 so let's leave it open till that is merged in.

[2018-05-24 21:45] anilu221 commented on #1304
@phi-lira I just downloaded 2018.2.0b5 and installed the SRP Core 1.1.8 and the LWRP 1.1.8, but still doesn't work. I get a similar problem than @mgeorgedeveloper the skybox renders but the objects with SRP shaders don't

[2018-05-24 21:54] StefDevs opened #1395 "Creating custom shaders for use in HDRP"
Hey is there any guidance available for creating new shaders for use with the HDRP?

For example I'd like to create a version of the decal shader with support for emission and for masking to specific geometry or layers.

Is this well supported?

Thanks,
- Stef

[2018-05-25 01:51] unity3d-kr commented on #1161
I have same error in Android.
test:
1. raw image set to main camera target texture.
2. make new camera and it set to canvas render camera.
3. raw image draw on canvas.
 raw image show in Editor. it don't show in Android, IOS.

[2018-05-25 04:29] frideal commented on #1370
Thanks.

[2018-05-25 04:29] #1370 closed

[2018-05-25 09:15] sebastienlagarde commented on #1368
Hi, Sorry I give you an incomplete answer.  So the bug you mention was due to incorrect clear, and is fix here:
https://github.com/Unity-Technologies/ScriptableRenderPipeline/commit/60f7ccb0f3b2bb7e31c37f70e6d35476dc7da36d

However my statement still remain (the PR is not in master yet) but we will clear GBuffer only in debug mode and not in game mode. Mean you eed to test the stencil to avoid gar

[2018-05-25 09:15] #1368 closed

[2018-05-25 14:22] mgeorgedeveloper commented on #1304
@anilu221 I think we're waiting for the next package after 1.1.8. I'm checking daily, should be here soon I hope.

[2018-05-25 15:14] ThomasAunvik opened #1406 "[HDRP] Setting material to Transparent gives shader error"
# Versions

Unity Version: 2018.1.1f1
HDRenderPipeline Version: 1.1.8-preview
SRP Core Version: 1.1.8-preview

i also have Lightweight RP Installed: 1.1.8-preview. HDRP is set in the Graphics settings.

# Description

When creating a new material (HDRenderPipeline/Lit) and selecting Surface Type to Transparent, then every Lit material turns to pink and getting this error.

[code]

I have managed t

[2018-05-25 15:15] sebastienlagarde commented on #1406
Thanks for reporting. This is a know issue and a backport of the fix is in progress for 2018.1. Workaround is to re-import / restart

[2018-05-25 15:18] ThomasAunvik commented on #1406
Alright

[2018-05-26 11:14] JapaMala opened #1408 "Sub-graph nodes causing errors."
Placing a sub-graph node into a shader graph causes the following error to show up in the Unity console after a small amount of time:

    Not implemented yet
    UnityEditor.EditorApplication:Internal_CallUpdateFunctions()

After that, null-ref errors start coming, and the shadergraph editor window stops behaving correctly.

[2018-05-26 13:37] JapaMala commented on #1408
This was not reproducible after reimporting all assets.

[2018-05-26 13:37] #1408 closed

[2018-05-27 17:59] julhe opened #1410 "No Emission/Albedo from ShaderGraph Shaders"
Shaders from Shadergraph have always black albedo and emission for GI.
![grafik](https://user-images.githubusercontent.com/18037091/40589132-61b753f0-61e8-11e8-8576-7aaf7839d70d.png)
![grafik](https://user-images.githubusercontent.com/18037091/40589133-6b1b2ed0-61e8-11e8-9662-aa296a452ce0.png)
![grafik](https://user-images.githubusercontent.com/18037091/40589134-7152ed60-61e8-11e8-889e-7e44ff246cd

[2018-05-29 02:43] #1361 closed

[2018-05-29 10:34] #1406 closed

[2018-05-29 10:40] sebastienlagarde commented on #1395
Hi,

To write a custom unlit shader this is not too difficult, I provide help here: https://forum.unity.com/threads/convert-to-srp-hd.514377/#post-3387016

We have no way to do surface surface shaders (like buitin unity). Current preferred usage is shader graph but this is only for 2018.2.
Alternative is to copy/paste all Lit directory and update the UI/Lit.Shader/LitData files, but it will be a n

[2018-05-29 10:43] sebastienlagarde commented on #1363
It is a legitimate request, just as explain above we will not add more feature to the already very complex Layered shader.

[2018-05-29 10:43] #1363 closed

[2018-05-29 10:44] sebastienlagarde commented on #1319
This should be fixed now

[2018-05-29 10:47] #1162 closed

[2018-05-29 12:43] sabillano commented on #1363
Yep, I have been looking at Shader Graph and looks the way to go on this one, the only problem is going to be waiting for the implementation on the HDRP.
Thank a lot for the responses.

[2018-05-29 13:59] AlexandreFiset commented on #1304
"We are generating a new package for 2018.2 tomorrow. Sorry for the delay."

As of 05/29, everything render black on Oculus Go with 2018.2 and LWRP.

[2018-05-29 21:33] StefDevs commented on #1395
Great! Thanks so much for this info - I'm sure it will enough to get me on my way. I'll probably just leave the decals alone for now until it becomes more stable but the info is still appreciated. I can convert my old solution in the mean time if needed.

[2018-05-30 05:13] blueloveTH opened #1432 "I have some suggestions!(LWRP)"
Hi,I am a game developer(major in mobile),using LWRP.

In my test,LWRP can produce a good performance in mobile device,but...when using postprocessing stack,it decreases the performance severely,and in summary,they produce a negative effect...

Maybe,we can separate postprocessing moudle from LWRP totally then it will be more "lightweight".The users can call leagcy `OnRenderImage()` scripts and sh

[2018-05-30 18:04] JapaMala commented on #1387
I've had this problem before, sometimes even without duplicating the sub-graph. For me, it stopped when I re-imported the entire project.

[2018-05-30 20:50] Wadarass commented on #1338
Fixed in https://github.com/Unity-Technologies/ScriptableRenderPipeline/pull/1439

[2018-05-30 20:50] #1338 closed

[2018-05-31 07:52] RemyUnity commented on #1284
@equalsequals Thanks for reporting. I can confirm that this bugs still happens in the 2018.1 branch, and also in the released packages.
Also, note that you don't need to have LWRP, you can simply have no RP assigned while HDRP is in your project, the error will be thrown.

[2018-05-31 08:57] RemyUnity commented on #1284
Issue Tracker link : https://issuetracker.unity3d.com/issues/hdrp-2018-dot-1-nullreferenceexception-thrown-from-hdreflectionprobeeditor-when-not-using-hdrp

[2018-05-31 08:58] RemyUnity commented on #1284
@equalsequals I checked in the 2018.1-experimental branch, and the issue is fixed there.

[2018-05-31 09:00] gametroopers commented on #1161
@phi-lira Any update or workaround on this?
We have a project using LWRP that needs to be released soon and that can be an issue :(

[2018-05-31 09:04] starloop-xavierarias commented on #1161
@phi-lira Any update or workaround on this?
We have a project using LWRP that needs to be released soon and that can be an issue :(

[2018-05-31 15:08] JapaMala opened #1446 "Low Definition Pipeline still generating shaders with emissiveIntensity."
This gives the following errors on an empty shader:

    Compilation error in graph at line 507 (on d3d11):
    invalid subscript 'emissiveIntensity'
    UnityEditor.ShaderGraph.Drawing.MaterialGraphEditWindow:Initialize(String)
    ShaderGraphImporterEditor:ShowGraphEditWindow(String) (at SRP/com.unity.shadergraph/Editor/Importers/ShaderGraphImporterEditor.cs:42)
    ShaderGraphImporterEditor:OnO

[2018-06-01 09:04] aleks01010101 commented on #1161
Hi!
I'm looking into this issue right now, hopefully will have something for you soon :)

[2018-06-01 11:49] aleks01010101 commented on #1161
A temporary workaround would be to have the canvas rendered in Screen Space - Overlay mode, if that's acceptable. This one seems to work.

[2018-06-01 12:24] fum1h1ro opened #1454 "[LWRP] A problem with using multiple camera and setting Viewport Rect."
When using multiple camera and setting *Viewport Rect*, this problem will occur.

Setup a scene like a following:

* 1st Camera
  * Depth: 0
  * ViewportRect: 0, 0, 0.5, 1(x,y,w,h)
* 2nd Camera
  * Depth: 1
  * ViewportRect: 0.5, 0, 0.5, 1
* 1st Canvas
  * RenderMode: Screen Space - Camera
  * Camera
    * Depth: 2
    * ClearFlags: DepthOnly
    * ViewportRect: 0, 0, 0.5, 1
* 2nd Canvas and Canva

[2018-06-01 14:06] mihakrajnc opened #1456 "Shader graph compilation errors"
When using ShaderGraph I often get shader compilation errors, after adding a node (has happened with Multiply, OneMinus, etc....):

[code]

In addition to some assertion failed errors:
[code]
[code]

When one of these happens, the graph will no longer recover and is unusable. Some of our older graphs also suffer from this issue, however when compiling (for iOS) they apparently compile fine. But we

[2018-06-01 19:59] AlexandreFiset commented on #1316
Btw this is still a bug as of 2018-06-01, using the latest packages available for 2018.2. Tried with and without post-process, tested on Oculus Go. It just renders all black.

[2018-06-01 20:25] deodatopr opened #1460 "Package Manager dont work with Lite or HD SR!"
![captura](https://user-images.githubusercontent.com/16979750/40861781-f194aa70-65af-11e8-9441-f78fdeb17a3c.PNG)

I did use it on 2018.1.0 & 2018.1.1f1

[2018-06-03 01:20] Aarsh-Singh-Vishen opened #1464 "Increase value over time?"
How do I increase a value overtime, eg: speed?

[2018-06-03 06:36] jayson-001 commented on #1464
Use this:
https://docs.unity3d.com/ScriptReference/Time-time.html

[2018-06-03 18:42] MatheusFaria opened #1465 "Shader Graph blackboard drag state locked"
When interacting with the drop-down of a property in the blackboard, it gets stuck in the drag mode, any mouse movement around or in the blackboard drags it along. [I've recorded it](https://youtu.be/BEqczn6On-c), before 17 seconds the drag function it is perfectly working. After I interacted with the "Fresnel Color" Mode drop-down, it gets stuck in the drag action.

BTW, the blackboard wasn't app

[2018-06-04 21:43] julhe opened #1469 "Only first pass gets rendered when using multi-pass shaders"
I'm currently porting over shaders from a project which uses a multipass shader. However, only the first pass gets rendered. If I comment out the first one, only the second one shows up. No Shadergraph, just pure shader code. LWRP.

[2018-06-05 09:19] #1464 closed

[2018-06-05 17:16] sebastienlagarde commented on #1460
@stramit thought ?

[2018-06-05 17:17] sebastienlagarde commented on #1456
@pbbastian Thought?

[2018-06-05 17:18] deodatopr commented on #1460
from yestarday is working again, thanks !

[2018-06-05 17:38] #1460 closed

[2018-06-06 07:31] pbbastian commented on #1456
Which version of Shader Graph is this using?

[2018-06-06 08:47] mihakrajnc commented on #1456
@pbbastian I'm using ShaderGraph from the LWRP 1.1.6 package, but I also tested it out with the 1.1.10 LWRP package, and got the same results. My Unity version is 2018.1.0f2.

On a side note, when this happens, the shader displays this error: "Shader is not supported on this GPU (none of subshaders/fallbacks are suitable)".

[2018-06-06 20:40] roberto-renzetti-unity opened #1489 "Animation viewer has black background that hides floor grid"
Filing this bug in Git to link with bug on Fogbugz. This issue was found by a Spotlight customer.

https://fogbugz.unity3d.com/f/cases/1044281/

1. What happened

When viewing a character animation from our project, which uses HDRP, in the Animation viewer, background turns black and makes floor grid invisible when the associated model is dragged into the viewer.

2. How we can reproduce it using

[2018-06-06 21:26] roberto-renzetti-unity opened #1491 "Gizmos don't show up in the game view with HDRP"
Filing this bug in Git to link with bug on Fogbugz. This issue was found by a Spotlight customer.

https://fogbugz.unity3d.com/f/cases/1046467/

1. What happened

When you click on the "Gizmos" button in the Game view window on a HDRP project, Unity does not display any Gizmos

2. How we can reproduce it using the example you attached

Create a HDRP project (you can use the template)
Make sure tha

[2018-06-07 16:17] FraFont23 opened #1498 "[LWRP] Hololens - With shadows enabled, the scene is flipped and follows the camera."
We're developing for Hololens on **Unity 2018.1.0f2**, **LWRP 1.1.10-preview**.
(We had the same issue making some tries with Unity 2018.2.0b7)

The **Hololens** is connected through the Holographic remote emulation built in Unity using WiFi.

When enabling **Shadows** from the LightweightAsset, the scene is **flipped vertically** and all the objects seem to follow the camera movement. However, th

[2018-06-07 21:19] equalsequals commented on #1469
LWRP is a Single Pass Renderer, so it doesn't have the concept of a 'ForwardAdd' Pass.

[2018-06-08 03:13] ohmaya opened #1502 "Does not find shader include path when BUILDing player if packages are copied to Assets"
##### What happened?
1. Download LWRP from Package Manager, then copy from cache to a 2018.2.0b3 3D project's Assets folder.
2. Use a LightweightAsset.
3. Resolve shader include path issue for the editor by changing LightweightShaderIncludePaths.cs:
paths[index] = Path.GetFullPath("Packages/com.unity.render-pipelines.lightweight");
to:
paths[index] = Path.GetFullPath("Assets/Packages/com.unity.ren

[2018-06-08 06:11] ohmaya commented on #1502
Will generate \Library\ShaderIncludePaths.txt, which contains \Assets\Packages\com.unity.render-pipelines.core@1.1.10-preview, but not LWRP.

[2018-06-08 06:36] ohmaya commented on #1502
Seems something to do with HDR, when building, the editor switches to the default scene, whose camera has HDR checked.

[2018-06-08 13:33] julhe commented on #1469
I know, but its not about any lightning stuff here.

It's a special effect shader where the inside of the mesh gets a different pass than the outside. Without multipass, its a huge pain to duplicate each material, ansign it to every object and make sure those two materials share the same proppertys, expect for that few who determint wether its the inside or outside pass.

I can understand that mul

[2018-06-08 14:09] Hage-Jyoutou opened #1506 "Custom node error"
Is it a bug?

Error
Preview shader for graph has 1 error:
Shader compilation error in graph at line 46 (on d3d11):
undeclared identifier '_MyCustomNode_93134358_Sampler'

[code]

[2018-06-08 19:02] equalsequals commented on #1469
That you can do already, if you modify the Render loop. You can add support for additional Passes by modifying the `DrawRendererSettings` for that part of the Render loop. By way of `SetShaderPassName`, you specify an index, in which if a Shader has both Passes present it will do them in order of index.

[2018-06-10 22:50] Nufflee commented on #984
I'm encountering this issue again and I'm on the latest version (0.1.28) downloaded from the PackageManager.

[2018-06-10 22:53] Nufflee commented on #1319
Doesn't seem to be. @sebastienlagarde I'm on the latest version from the PackageManger.

[2018-06-10 22:59] Nufflee commented on #1319
So I've fixed this issue by manually adding [this](https://github.com/Unity-Technologies/ScriptableRenderPipeline/blob/master/com.unity.render-pipelines.core/CoreRP/com.unity.render-pipelines.core.Runtime.asmdef#L9) line to the that .asmdef file as it doesn't seem that the right version is shipped with the latest release.

[2018-06-11 12:03] stramit commented on #1502
Please read the main page about how to get the project to 'work with it'. We do not support cloning into assets but instead 'localised packages'.

[code]

[2018-06-11 12:03] #1502 closed

[2018-06-11 13:57] OzoneABN commented on #1456
Same happed to me just now. Using Unity 2018.1.3f1 and the 1.1.10 LWRP. Using Unity on a Mac for an iOS project.

Are there any clues here yet?

[2018-06-11 21:33] sebastienlagarde commented on #1491
Hi, we found that this is a general SP problem and will dig into it. Thanks for the report.

[2018-06-11 23:49] IARI opened #1519 "Properties break shadergraph on german system"
##### What happened?
Adding any property to a shadergraph breaks the compiled shader, previews turn purple.
Consider the following simple unlit shader graph asset:
![image](https://user-images.githubusercontent.com/1053417/41262604-17aa27aa-6de2-11e8-9a16-a48a25120b1d.png)
After converting the color node to a property:
![image](https://user-images.githubusercontent.com/1053417/41262642-4a584d08-6d

[2018-06-12 02:46] ohmaya commented on #1502
Do not even need to edit packages.json, it just works as Embeded packages.

[2018-06-12 02:58] ohmaya commented on #1502
Actually, an older version of README.md said, needs to be placed in the Assets\ folder.

[2018-06-12 10:36] D1no opened #1523 "[LW 1.1.10 -> 2.0.1] Extreme Performance Regression (36 times slower)"
##### What happened?
I do a lot of research and testing for AR. When updating a test project to Lightweight Render Pipeline 2.0.1 & Shader Graph 2.0.1, the performance drops **rapidly by 36 times**. Experienced on iOS. See the following:

#### Lightweight Render Pipeline: 1.1.10 (LEFT) vs. 2.0.1 (RIGHT)
_As you see, the tracking (simple Vuforia setup) drifts a lot on the right, because the main th

[2018-06-12 12:55] TheBricktop commented on #1316
Latest packages  and unity 2018.1, all rendered black on gearvr and s8

[2018-06-12 13:54] rvilgalys opened #1524 "Metal: Fragment shader missing buffer binding at index 3 (_LightIndexBuffer / PBR Master)"
##### What happened?

Hello,

I upgraded to the latest 2.0.1 preview for the Lightweight Pipeline & Shadergraph packages. I'm now getting the following warning when I edit a shader:

'Metal: Fragment shader missing buffer binding at index 3 (_LightIndexBuffer / PBR Master)'

This will repeat 4 times, and then there is no preview of the shader results in the Shadergraph editor. Downgrading everythi

[2018-06-13 06:37] tigershan1130 commented on #1469
If that's the case, if I wrote a CG shader with baseforward pass only, what about the meta pass that's been computed for GI?

[2018-06-13 10:40] hippocoder opened #1531 "HDRP Strange compile popup box with 2.0.3-preview"
##### What happened?
When compiling own scripts, a process appears to be launched that causes HDRP shaders to compile (at least I think it's the shaders).

##### Which package (Shader graph, LW, HDRP, Core...)?
HDRP 2.0.3-preview

##### Unity template or github source code?
Package manager

##### Which package version or branch
2108.2 beta 7

##### Unity version, operating system, target platform

[2018-06-13 11:20] sebastienlagarde commented on #1531
Hey, thanks for this report.

We are aware of the problem, the sahder seems to unecessary recompile when it shouldn't. A fix should comme in a later version of Unity. Thanks

[2018-06-13 15:29] OzoneABN commented on #1456
A Solution that works for me:
Do not use the Scripting Runtime Version .Net 4.0 in the Player Settings. If I use .Net 3.5 everything works fine.

[2018-06-14 10:08] LeGiangAnh opened #1534 "UV Set for LW shader"
##### What happened?
I cannot find the UV Set setting for LW Shaders. Is it possible to have Animated Scrolling texture in LW?
##### Which package (Shader graph, LW, HDRP, Core...)?
LW
##### Unity template or github source code?
Unity template
##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-experiment, 2108.2...)?
2.0.3-preview
##### Unity version, operating sys

[2018-06-14 13:19] D1no commented on #1523
@Unity et al. any way to mitigate this? I uploaded this stuff to a google drive folder for internal sharing (vpn etc. blocks your internal bug reporter). Would be great to not have this issue get out of sight

[2018-06-14 14:37] 6b796c65 commented on #1524
I'm also seeing this error after updating and objects using the LRP standard shader are not rendering.
I'm running beta 7 on MacOS and seeing the error with both MacOS and iOS build targets.

[2018-06-14 17:36] sergeenkov commented on #1238
I have same issue. But I've tried ECS + Job System in WebGL and it works fine. Of course there was only one thread but all code work as expected. No need to refactor.

[2018-06-14 20:58] AlexandreVinet opened #1541 "[LWRP] WaterTile.cs Camera.current null exception."
##### What happened?
In WaterTile.cs ( From Standard Assets/Environment ) when rendering the Game view, the function OnWillRenderObject() is called with a Camera.current = null.

##### Which package (Shader graph, LW, HDRP, Core...)?
LW

##### Unity template or github source code?
Standard Assets code.

##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-experiment,

[2018-06-15 12:28] martint-unity commented on #1519
Hi @IARI
You are right, we did have an issue with different Locales. But that has been fixed in the latest update so please update and let us know if it still happens. If it does then please open a case in the Unity issue tracker.
Thanks for your thorough feedback of the issue

[2018-06-15 12:28] #1519 closed

[2018-06-15 22:35] Trojaner25 opened #1549 "Shader Graph: Converting Color to Property causes compilation errors"
##### What happened?
The following errors occur when converting a Color node (does not matter if HDR or not) to a property in the graph editor:

Parse error: syntax error, unexpected ',', expecting ')'
UnityEditor.EditorApplication:Internal_CallUpdateFunctions()

![image](https://user-images.githubusercontent.com/1809172/41492050-381e8686-7105-11e8-891e-953049297b53.png)

Reverting by deleting the

[2018-06-16 16:29] phi-lira commented on #1316
Hey guys, sorry about the late responses. It seems there's still an issue in engine side regarding MSAA and Texture2DArray. Could you guys test with the following setup:

1) Pull 2.0.3-preview and disable MSAA in the pipeline asset

[2018-06-17 03:10] m3rt32 opened #1552 "Accessing vertex dimensions"
I am trying to manipulate vertexes in shader graph, I can get vertex positions with position node but I cannot seperate them like, i.vertex.x or something ? Is that possible ?

[2018-06-18 06:50] JustTheCoolDude commented on #1552
Use a split node to seperate vectors https://github.com/Unity-Technologies/ShaderGraph/wiki/Split-Node.
r, g and b on the split node would respectively be the x, y and z of a vector3.

[2018-06-18 12:29] svetliaka92 commented on #1491
Hello friends.

If i may add - the same issue is happening with the lightweight render pipeline as well. The "Gizmos" button in Game view is clicked, but the gizmos don't show.

[2018-06-18 13:59] m3rt32 commented on #1552
Thanks pal, you made my day.

[2018-06-18 13:59] #1552 closed

[2018-06-18 15:39] rvilgalys commented on #1524
Just tried an update to 2.0.3 and this still appears to be an issue.

[2018-06-18 16:21] coding-juan commented on #1316
@phi-lira I've tested the sample scene disabling the MSAA in multiple versions of the lightweight pipeline, still, it only renders black, thanks for the suggestion though

[2018-06-18 17:31] djuniah commented on #1304
Just tested on 2018.2.0b8 and the latest SRP code from this repo and the issue is still present.

[2018-06-18 17:51] phi-lira commented on #1316
@brandon-unity Do you have any idea what might be causing this?

[2018-06-18 17:51] phi-lira commented on #1316
@brandon-unity3d Do you have ideas of what might be the issue here?

[2018-06-18 17:53] phi-lira commented on #1304
@brandon-unity3d Do you have any clues here?

[2018-06-18 17:54] phi-lira commented on #1304
If you disable PostFX and MSAA do you still have this issue on 2.0.3-preview?

[2018-06-18 18:02] brandon-unity3d commented on #1316
Make sure that MSAA is disabled in the quality settings.

[2018-06-18 18:14] djuniah commented on #1304
I can confirm that disabling MSAA got it working on the Oculus GO

[2018-06-18 20:22] coding-juan commented on #1316
There is no MSAA option in quality settings (not that I can see) since the render pipeline is in use (based on the message at the top)
![image](https://user-images.githubusercontent.com/10898933/41559823-8e97470e-7345-11e8-8d87-9fa22df4ab56.png)

And in the pipeline settings, it is disabled
![image](https://user-images.githubusercontent.com/10898933/41559834-998e3bb8-7345-11e8-8e9a-ef663b59e213.pn

[2018-06-18 20:55] brandon-unity3d commented on #1316
Thanks!  What about your Camera?  Is allow msaa disabled on it?

[2018-06-18 21:15] coding-juan commented on #1316
Yes ![image](https://user-images.githubusercontent.com/10898933/41562459-f1c26866-734c-11e8-81a8-13ccd76e1b97.png)

Here is what I see on the phone when VR (both cardboard or daydream) is enabled, in case it throws more insight
![image](https://user-images.githubusercontent.com/10898933/41562598-64e9f34a-734d-11e8-9cc6-2bbf97b7bbb1.png)

If you need anything else to help troubleshoot this just ask

[2018-06-18 21:28] brandon-unity3d commented on #1316
No problem.  @coding-juan, could you also be so kind as to include a screen cap of your XR player settings?  Thank you as well for your patience!

[2018-06-18 21:49] sebastienlagarde commented on #1264
Take a bit of time, but fixed now: https://github.com/Unity-Technologies/ScriptableRenderPipeline/pull/1558

[2018-06-18 21:49] #1264 closed

[2018-06-18 23:05] coding-juan commented on #1316
@brandon-unity3d Of course, I have configured this in multiple ways, right now I have it like this:
![image](https://user-images.githubusercontent.com/10898933/41566533-376ba5da-735c-11e8-9fdb-94bfc97888d6.png)
I have also used "Multi Pass", and Cardboard instead of Daydream, none of them seem to work, the interesting thing is, that if you put "None" on the first place it renders nicely, you lose

[2018-06-19 03:48] SusterDrifter opened #1559 "Shader only applies bright pink tint"
##### What happened?
When the shader is applied to any object, it becomes just as the preview shows, a bright pink tint. Have tried remaking new shader but the problem still persist.

![image](https://user-images.githubusercontent.com/39788874/41575690-42473f6e-73b6-11e8-98da-53de78957f0e.png)

##### Which package (Shader graph, LW, HDRP, Core...)?
Lightweight

##### Unity template or github sourc

[2018-06-19 09:54] luispedrofonseca commented on #1310
Is this still happening? Haven't tested it yet but I'm researching if I should use the LWRP for a new project.

[2018-06-19 12:44] GithubPrankster commented on #1559
Having the same problem.

[2018-06-19 12:49] sebastienlagarde commented on #1559
Hey, I think it was a feature not implemented in 1.1.10-preview. Poking @pbbastian for more information.

[2018-06-19 12:52] pbbastian commented on #1559
Hi, can I get you to create a case on the Unity Issue Tracker instead? Sorry that it's a bit inconvenient, but it works much better with our internal QA workflows :)

[2018-06-19 12:52] #1559 closed

[2018-06-19 14:54] jjxtra opened #1563 "Shader Graph: Right click to drag canvas"
##### What happened?
Navigating shader graph canvas is awkward

##### Which package (Shader graph, LW, HDRP, Core...)?
Shader graph

##### Unity template or github source code?
2.0.3 package manager

##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-experiment, 2108.2...)?
Unity 2018.2 beta, Windows 10 x64

Please allow right click to drag the canvas around just l

[2018-06-19 14:54] jjxtra commented on #1563
Alt right click works, it would be nice to not have to press alt since right click drag without alt does nothing at the moment

[2018-06-19 16:10] STUDIOCRAFTapps opened #1564 "Decimal values as parameters corrupts the current shader graph file."
##### What happened?
I created a vector1 and set its value to 0.2 and the shader stopped working (It became magenta).
The texture preview were no longer displaying the proper texture but instead, error textures (The black and magenta grid texture)

##### Which package (Shader graph, LW, HDRP, Core...)?
PBR Graph shader

##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2

[2018-06-19 16:28] coding-juan commented on #1316
As I said yesterday, I have tried to change from non-VR to VR at runtime, the results have been the same, non-VR works fine but at the moment you switch to VR it simply renders black, I also tried to make a little bit of debugging and launched an adb logcat:
[code]

[2018-06-19 16:31] brandon-unity3d commented on #1316
Based on the log message "Scriptable Render Pipeline stereo support requires single-pass stereo." it looks like your project is trying to use the multi-pass stereo rendering path.  However, multi-pass is not compatible with the scriptable render pipeline.

[2018-06-19 16:44] STUDIOCRAFTapps commented on #1564
Also I keep getting this error: Assertion failed: Assertion failed on expression: 'success'

[2018-06-19 17:06] coding-juan commented on #1316
So I assume that this is caused because my device is not capable of using single-pass, since I hace single-pass configured, there is any workaround? Maybe editing the lightweight render pipeline? Will multi-pass be supported within it any time soon?

[2018-06-19 17:16] brandon-unity3d commented on #1316
Currently, we have no plans to support multi-pass in the scriptable render pipeline for performance reasons.  However, your console output is a bit strange.  Your output says that it is attempting to use multi-view which is supported however you are trying to use separate eye textures instead of a texture array.  Separate eye texture usage is typical for multi-pass.  I am going to dig into our nat

[2018-06-19 17:38] brandon-unity3d commented on #1316
@coding-juan for clarity, which version of Unity and LWRP are you using?  Thanks!

[2018-06-19 18:16] coding-juan commented on #1316
Unity: 2018.2.0b8
LWRP: 2.0.3

[2018-06-19 18:44] coding-juan commented on #1316
Maybe it has something to do with this? https://docs.unity3d.com/2018.2/Documentation/Manual/Android-SinglePassStereoRendering.html
As I understand it, I should create a custom shader based on the LightweightPipeline/Standard (don't know if choosing physically based or simple lightning matters) and add the specifications listed in that documentation page?

[2018-06-19 19:24] mathias234 opened #1567 "[ShaderGraph] Sub graph not working"
##### What happened?
I was trying to make a subgraph for mixing uvs (to reduce tiling) and when I go to try it out I get a lot of errors (and just a pink shader):
https://prnt.sc/jwv89e

##### Which package (Shader graph, LW, HDRP, Core...)?
Shader Graph

##### Unity template or github source code?
Shader Subgraph: https://pastebin.com/PYSQi9kD
Shader Test: https://pastebin.com/1qHdHkiF

##### Whi

[2018-06-19 21:07] brandon-unity3d commented on #1316
I tested a custom scene with Unity 2018.2.0b6 alongside LWRP 2.0.3 on a Samsung S8 with the Oculus SDK enabled.  My scene consists on several objects using the LWRP standard shader.  Also,  I have no post processing volume or post processing component on my main camera.  This is because post processing is not fully supported with single pass instancing at the moment.  If "Allow MSAA" is enabled on

[2018-06-19 21:20] coding-juan commented on #1316
Okay, I will test again from scratch, maybe I misconfigured some parameter along the way.

[2018-06-19 21:30] brandon-unity3d commented on #1316
I just tried the same test project with daydream and I see the same behaviour you were describing.  So perhaps the issue is with the daydream sdk.  It may not contain support for texture arrays which would be an issue.  I will take a look.

Daydream SDK output
Created eye textures with a "separate" layout.  The "multiview" stereo mode will be used.

[2018-06-19 21:48] coding-juan commented on #1316
With Oculus/Gear works fine, the problem also happens with Cardboard SDK, it would be nice to be able to use either one of these since our target needs to be more open. Thank you for everything.

[2018-06-19 22:00] Kink3d commented on #1563
Hi,

Use middle click to drag canvas. Thanks.

[2018-06-19 22:00] #1563 closed

[2018-06-19 22:07] jjxtra commented on #1563
That is slightly less annoying than alt+left, but right click would be even easier, just like the scene view :) Hope you will consider it as right click drag does nothing currently.

[2018-06-19 22:09] Kink3d commented on #1567
Hi,

This is fixed by PR: #1458. This will land in an upcoming beta.

[2018-06-19 22:09] #1567 closed

[2018-06-19 23:55] brandon-unity3d commented on #1316
@coding-juan , my pleasure.  Thank you for your assistance as well.
I did some more probing and found that the Daydream support doesn't play nicely with multiview rendering in the builtin renderer either.  That means this isn't an issue specific to LWRP.  I will look into understanding why that is the case.

[2018-06-20 03:14] James9270 opened #1572 "[HDRP] Volumetric Fog not working as expected in Unity 2018.2b9"
##### What happened?
After updating to Unity 2018.2.0b9, and opening a project where I had enabled volumetric fog, I noticed that the volumetric fog was not appearing, and there was an error in the console:
"Compute shader (VolumeVoxelization): Property (_VolumeMaskAtlas) at kernel index (1) has mismatching texture dimension (expected 3, got 2)"

To check if this problem was occurring because of s

[2018-06-20 11:42] Immudelki opened #1575 "[LWRP] Assigning Render Texture gives black Screen (only on build)"
##### What happened?
Getting black screen / UI disappearing **(only on build)** when using render texture set on secondary camera

Repro steps:
- Create CameraA
- Create CameraB - screen space mode
- Create RenderTexture and assign it to CameraB

- Add LWRP

From what I see, maybe it's depth issues ?..

##### Which package (Shader graph, LW, HDRP, Core...)?
LWRP

##### Which package version or bra

[2018-06-20 12:34] Immudelki commented on #1161
Not sure if I made a duplicate here :/ https://github.com/Unity-Technologies/ScriptableRenderPipeline/issues/1575
But I think that I'm basically experiencing the same issue @_@

[2018-06-20 15:54] deodatopr opened #1577 "ShaderGraph: Append node?"
##### What happened?: Is there Append node in the Shader Graph?

##### Which package: Shader graph, LW

##### Unity template or github source code?

##### Which package version or branch: 1.19, Unity 2018.1

[2018-06-20 16:05] deodatopr opened #1578 "ShaderGraph: property win drag constatly"
##### What happened?: **If I create a color and change to properti, and then change MODE: Slider the Window start to follow the mouse (Dragging), and you can't avoid it.**

##### Which package: **Shader graph, LW**

##### Unity template or github source code?: **Unity package**

##### Which package version or branch: **v1.19**

[2018-06-20 17:29] Kink3d commented on #1456
Yes, we currently dont support the 4.0 runtime.

We are moving all our issues to our internal tracking system and are tracking this already so I'll close this.

Thanks

[2018-06-20 17:29] #1456 closed

[2018-06-20 17:29] Kink3d commented on #1465
Hi

We are moving all our issues to our internal tracking system and are tracking this already so I'll close this.

Thanks

[2018-06-20 17:29] #1465 closed

[2018-06-20 17:30] Kink3d commented on #1506
Hi

We are moving all our issues to our internal tracking system and are tracking this already so I'll close this.

Thanks

[2018-06-20 17:30] #1506 closed

[2018-06-20 17:32] Kink3d commented on #1549
Hi

We currently dont support the 4.0 runtime.

We are moving all our issues to our internal tracking system and are tracking this already so I'll close this.

Thanks

[2018-06-20 17:32] #1549 closed

[2018-06-20 17:33] Kink3d commented on #1564
Hi

We are moving all our issues to our internal tracking system and are tracking this already so I'll close this.

Thanks

[2018-06-20 17:33] #1564 closed

[2018-06-20 17:34] Kink3d commented on #1577
There is currently no Append node. It is however on our roadmap.

Thanks.

[2018-06-20 17:34] #1577 closed

[2018-06-20 17:34] Kink3d commented on #1578
Hi

We are moving all our issues to our internal tracking system and are tracking this already so I'll close this.

Thanks

[2018-06-20 17:34] #1578 closed

[2018-06-20 21:01] sebastienlagarde commented on #1531
So we have two cases, one fix is coming but there is also another problem that may appear and for this you just need to delete your library folder (if you have upgrade from an older project to a new version)

[2018-06-21 02:32] neurochems commented on #1310
hey all,
i've been running into Leandro6758's original issue. the video imports ok and plays in the preview window. however, upon setting up a VideoPlayer with a Render Texture, and applying the Render Texture to a Material with a LWRP PB shader the video will not play on a mesh, despite the first frame of the video appearing. the video will additionally not play in the Material preview window.
th

[2018-06-21 09:00] ArtyIF opened #1584 "Suggestion: Move ShaderGraph to a separate package in Package manager like it used to be or add it in HDRP"
##### What happened?
I want to use ShaderGraph with HDRP, but I have to install LWRP to use it. Why? How about you give it a separate package in package manager or at least integrate it in HDRP as well?
##### Which package (Shader graph, LW, HDRP, Core...)?
Shader graph
##### Unity template or github source code?
Package manager. Which option is it?
##### Which package version or branch (1.1.8-pre

[2018-06-21 09:50] sebastienlagarde commented on #1584
Hi, I think you are confuse or miss something. The SG package is separated and LW and HD depends on it. You can get SG package alone, or only HD with SG.

[2018-06-21 12:06] ArtyIF commented on #1584
Well I can't see it in my Package Manager window anywhere.

![a screenshot of package manager](https://user-images.githubusercontent.com/8017858/41718085-8d5a1508-7564-11e8-9721-0d6710abc006.png)

And the wiki says:

[2018-06-21 12:07] ArtyIF commented on #1584
Oh wait. I'm dumb. It's in Shader submenu.

[2018-06-21 12:07] #1584 closed

[2018-06-21 13:13] EvgeniiG commented on #1572
Hi James,

Thanks for the bug report!

The issue has been fixed on the master branch: https://github.com/Unity-Technologies/ScriptableRenderPipeline/commit/c844dc9038316f99fbe72e48857c1122f35a0b54

We will also backport it to 2018.2.

Evgenii

[2018-06-21 13:32] EvgeniiG commented on #1572
I have backported the fix to 2018.2: https://github.com/Unity-Technologies/ScriptableRenderPipeline/commit/6a7d64e5d72f9a90fbe177332f1aea6dd4070464

[2018-06-21 13:43] EvgeniiG commented on #1572
As a workaround, create at least one Density Volume with a Density Map (mask 3D texture).

[2018-06-21 13:43] #1572 closed

[2018-06-21 17:05] ArtyIF opened #1588 "[Bug] Parse error on .NET 4.x API Compatibility Level and locales that use comma for floating point numbers instead of a dot"
##### What happened?
If you use .NET 4.x API Compatibility Level and a locale that uses a comma for floating-point numbers instead of a dot (i.e. Russian) then, when using a float/vector/color with a comma in there, it results in a parsing error.

An example in my shader: `_AsphaltColor("Asphalt Color", Color) = (0,2509804,0,2509804,0,2509804,1)`. This is the code I got when I copied the shader co

[2018-06-21 17:13] ArtyIF commented on #1588
There are 3 workarounds I came up with:

1. Don't use floating-points with comma or colors that are not (0 or 255, 0 or 255, 0 or 255, 0 or 255) for now and put them in properties. Duh.
2. Use .NET 3.5. I can't, because I need one of the new .NET APIs (`System.Threading.Tasks` if you care).
3. Switch your system locale to English. There's a Windows edition that allows a single language only (usual

[2018-06-22 00:17] WeaselKing commented on #1310
Same problem, here. In my situation I have a short video that plays and then a script automatically executes after it finishes. The video is black and there's no sound, but the script fires of at the time it would have finished. It seems to be playing but not sending the video or audio.

[2018-06-22 02:12] adamzl opened #1592 "Shader graphs with transparent surface type do not render with render queue value of 2000"
##### What happened?
Custom shader (shader graph) with a master node's surface type set to transparent, set to a material with a render queue value of 2000 (the Geometry setting) does not render. While experimenting with reproduction I found inconsistent reproduction with an exact value, one piece of geometry is lost at 2500, another is lost at 2999. Generally transparent surface shaders don't ren

[2018-06-22 09:32] martint-unity commented on #1588
hi @ArtyIF ,
I have located the issue and I have a fix. This will be available next update to shader graph.
It is in this c89783f05923ebab3bdb5878d4c787d95bb7fd20

[2018-06-22 10:30] #1588 closed

[2018-06-22 10:31] sebastienlagarde commented on #1491
Yes, as said it is a general issue with SRP technology. thanks for the report

[2018-06-22 10:31] #1284 closed

[2018-06-22 10:32] #1319 closed

[2018-06-22 10:32] #898 closed

[2018-06-22 11:29] Verasl commented on #1523
@D1no Hi, I can have a look at this for you, this seems very odd indeed and would be useful to see whats causing this, let me know how I can get my hands on this project and any info I need to get it up and running, I'll test it on an iPhone 6 as it should be capable of running fine there.

[2018-06-22 11:46] Verasl commented on #1310
Hi All,

Small update here, both the 'Render Texture' and 'Material Override' render modes work fine at the moment, API only should work but I personally haven't tested it, the other two 'Camera Far Plane' & 'Camera Near Plane' require changes to the Video component itself to support SRP(this isn't just an issue in LWRP).

[2018-06-22 11:51] D1no commented on #1523
@Verasl I just send you an email to your github email with the subject "Reproduction - LW 1.1.10 to 2.0.1 Performance Regression"

I am glad you guys made it through Unite Berlin and you're taking a look at this.

[2018-06-22 12:00] Verasl commented on #1356
@beinteractive out of interest are your Camera settings the same? both have the same MSAA & HDR settings between the two cameras?

One thing to note is that you can put the post effect later on the secondary camera as it generally likes to be added on the last camera in the stack and with the LWRP(maybe also true for HDRP) the UI is always rendered last regardless, postfx is not applied to the UI

[2018-06-22 19:17] m3rt32 opened #1595 "LWRP Post Processing Issue"
I am trying to create image effects with shader graph. But because of OnRenderImage not supported, I have no clue how to make one. What is the way of making post processing effects via shader graph?

[2018-06-23 17:45] jeffkingdev opened #1597 "Lenovo Daydream Flicker"
##### What happened?
Lenovo Daydream is flickering at random times in both eyes (but often not the same time in both eyes).  If I just render the default plank scene this happens.

Also, the shadow map does not seem to be in sync with both eyes.  The shadows don't seem to be right as they clash with both eyes.  They look different in each eye, but they are way off on the ground too.

##### Which p

[2018-06-24 21:02] iceandstorm commented on #1192
same problem...  any news?

[2018-06-25 06:20] fum1h1ro commented on #1454
It still occurs in 1.1.11-preview.

[2018-06-25 09:46] demonixis commented on #1595
You've to use the PostProcessing StackV2. There is an API to [create your custom effects](https://github.com/Unity-Technologies/PostProcessing/wiki/Writing-Custom-Effects)

[2018-06-25 09:58] N-01 opened #1598 "Non-deterministic camera grouping/order between Windows and MacOS/iOS, very inconvenient render-loop API"
##### What happened?
I have 3 cameras responsible for Game-view.

1 "Main" - has Render Texture
2 "Additive" - has Render Texture
3 "Blend" - renders a Quad to ViewPort

I'm trying to handle them myself in a fixed order with custom code fo each Camera.
But i face a lot of issues.

For some reason there are multiple RenderLoop calls per frame, with Unity passing cameras to it in somewhat arbitrary

[2018-06-25 16:53] m3rt32 commented on #1595
Thanks for answer, I've tried that but I am getting "Invalid shader" error. Here is the example project that I've tried:
https://github.com/m3rt32/ShaderGraphCustomPostProcessingTest

[2018-06-25 18:51] hippocoder opened #1599 "(Minor) SRP DebugUpdater - optional?"
##### What happened?

##### Which package (Shader graph, LW, HDRP, Core...)?
UnityEngine.Experimental.Rendering (CORE)

##### Unity template or github source code?
PM

##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-experiment, 2108.2...)?

2018.2+ (certainly not _2108.2_ which is sometime in the future).

##### Unity version, operating system, target platform (

[2018-06-25 19:40] sebastienlagarde commented on #1599
This is already fix in the branch iirc.

[2018-06-26 07:54] tmthomsen commented on #1161
We have the same problem. Works fine in editor, but black screen in Android build.
The "Screen Space - Overlay" mode is also a no-go for us, so at the moment our only solution is to not use LWRP.
Is there any progress in fixing this issue?

[2018-06-26 08:00] Phiphel commented on #1575
We have the same issue.

@phi-lira any news on fix?

[2018-06-26 08:02] tmthomsen commented on #1575
We have the same issue. Works fine in editor, but screen shows up as black in Android build.
Right now it seems our only solution is to not use LWRP :/
Any news on the matter would be greatly appreciated.

[2018-06-26 10:52] soma-web commented on #984
same here, seems like the asmdef file is missing in the current version

[2018-06-26 14:00] sebastienlagarde commented on #1595
This is currently not supported.

[2018-06-26 14:02] sebastienlagarde commented on #1541
OnWillRenderObject() can't be use to render reflection (cause infinite recursion in SRP), use BeginCameraRendering instead

[2018-06-26 18:18] m3rt32 commented on #1595
So, we cant use shader graph for post processing/image effects right now ?

[2018-06-26 19:00] sebastienlagarde commented on #1595
No.

[2018-06-26 19:01] phi-lira commented on #1575
Hi Guys, sorry for the delay. We are at hackweek this week. Next week I'll take a look at the issues opened here and in our issue tracker.

[2018-06-26 19:12] phi-lira commented on #1534
Yes, it's possible. You need to define constants such as _MainTex_ST in your shader. This is required for the batcher to cache this Constant Buffer across many frames and reduce drawcall cost.

You can copy what you need from InputSurfacePBR.hlsl or InputSurfaceSimple.hsls.
Let me know if this works for you.

[2018-06-26 19:16] phi-lira commented on #1524
Hey, sorry for the delay. We've got Unite and hackweek hapenning last and this week that's why things are a little bit slow now. I'll take a look at this issue next week.

[2018-06-26 19:22] phi-lira commented on #1454
Hey @fum1h1ro we fixed some issues in 2.x.x. That requires Unity 2018.2. Is it possible for you to test on it.
I'm at hackweek this week. I'll take a look at this next week.

[2018-06-27 10:37] chaolunner opened #1600 "If I used SRP my old shaders can't work?"
Only use ShaderGraph and SRP provided shader is really ok for me!
But seem like ShaderGraph create shader, code editing can't be used.
And some of the common functions are not well supported, eg. Outline and Transparent shader with depth writes.
Like Shader Forge or Amplify Shader Editor also don't support mulit-pass (Amplify Shader Editor have a template feature should support mulit-pass but real

[2018-06-27 16:15] alindmanUnity commented on #1600
If you would like to build on a shader that you've made in Shader Graph via HLSL code, go tot he master node of your graph and Right Click -> Copy Shader. Paste that into a clean shader file and you should be able to keep working from there and access the functions that we don't currently support in the graph.
Does that help?

[2018-06-27 16:29] #1600 closed

[2018-06-28 06:50] juancarlosgdm commented on #1597
I have the same issue but with Unity 2018.1.0f2. Any interesting discovery since you posted?

[2018-06-28 08:41] JeromeJ opened #1601 "[LWRP] Normal map not applied in build when material is built on the fly"
##### What happened?

Normal map of materials created on the fly shows up in the Editor but not in the build.

![screenshot 31](https://user-images.githubusercontent.com/650065/42022099-98861424-7abc-11e8-8267-62ed52bc4835.png)

Only happen when I generate the material on the fly. I triple-checked to make sure both the static material and the one created on the fly had exactly the same properties:

[2018-06-28 11:11] aleks01010101 commented on #1161
hi!
yes, we figured out that the problem is deeper
perhaps @phi-lira has some info on the ETA

[2018-06-28 18:50] sebastienlagarde commented on #1601
Random Thought. Are you generating and setting up your normal at runtime on the standard shader ? In this case it can't work as you can't enable the shader feature for normal map on it (this is only enabled in the inspector). So what you need is to create a material with the normal map shader feature enabled, then assign it to a new normal at runtime.

Just a guess, you probem may be different.

[2018-06-29 09:29] phi-lira commented on #1161
Hey guys, I'm sorry for the delay. We are going to resume QA work on LWRP next week. I'm looking at all issues both here and issue tracker.

[2018-06-29 13:59] cpancake opened #1604 "[LWRP] Adding Post-Processing Layer Causes Skybox To Stop Drawing"
##### What happened?
In my project I have three cameras:

- Skybox Camera (Clear Flags = Skybox, Depth = 0, Culling = Nothing)
- World Camera (Clear Flags = Depth Only, Depth = 1, Culling = Everything But Player)
- Player Camera (Clear Flags = Don't Clear, Depth = 2, Culling = Player)

The skybox camera is there because rendering the skybox at the FOV specified in the world camera looks terrible.

[2018-06-29 14:57] rvilgalys commented on #1524
Thanks and no worries! Let me know if I can help at all. Been very impressed with everything.

[2018-06-29 15:33] jeffkingdev commented on #1597
I have not :( .  I'm waiting to hear if anyone from Unity can see what's going on.  If you use the standard rendering (not LWRP) then it works fine.

I am having such a hard time with LWRP and VR.  I'm hoping they get it all working properly soon.

[2018-06-30 02:16] LeGiangAnh opened #1607 "LWRP - Shadow cascades double tris of scene"
##### What happened?
When I use two Shadow cascades, the scene draws more than double of tris. Is this expected behavior?
##### Which package (Shader graph, LW, HDRP, Core...)?
LW
##### Unity template or github source code?
Unity package.
##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-experiment, 2108.2...)?
2.0.4-preview
##### Unity version, operating system,

[2018-07-03 01:29] onlinefrog commented on #1161
hey! just chiming in for a fix for this bug. I've been watching this thread for a couple of months now, heh.  no UI in windows builds right now is rough!
I'm glad progress is being made, looking forward for this bug getting squished :  )

[2018-07-03 02:03] prodigga opened #1615 "[LWRP] Objects are not dynamically batched when rendering shadows, resulting in really high drawcall count in our scene"
##### What happened?
When rendering shadows, objects are not dynamically batched like they used to be using builtin rendering pipeline. We have lots of small dynamic objects that are atlased together. They are one drawcall to rendering, and one for shadows. But with LWRP, each object is rendered individually.

##### Which package (Shader graph, LW, HDRP, Core...)?
LW
##### Unity template or github

[2018-07-03 03:25] prodigga opened #1616 "[LWRP] Wildly different shadow quality in scene view vs game view"
##### What happened?
We have our game camera up fairly high, and we set the Shadow Distance small enough and Near clipping plane close enough on our camera that we can get nice looking shadows with smaller shadow atlas sizes.

This works really well, but it means our scene view is a complete mess to look at!

Here is an example of a sphere from the game view:
![image](https://user-images.githubuse

[2018-07-03 19:53] JeromeJ commented on #1601
I'm not sure to follow you.  I'm not using the Standard Shader but the LightweightPipeline/Standard (Physically Based) shader one but, okk that's a "standard" one too so I'm not sure which you meant.  Also I'm not quite seeing the Inspector vs runtime distinction you mentioned.

[2018-07-04 20:32] miccall commented on #1600
@alindmanUnity  very useful ，thanks

[2018-07-05 13:35] phi-lira commented on #1317
Fixed in #1618 and the counter part PR on PostProcessing github. Thanks for the @equalsequals for the solution.

[2018-07-05 13:35] #1317 closed

[2018-07-05 13:41] phi-lira commented on #1616
This seems related to the camera shadow distance on scene view being high by default. While we don't provide a proper fix, a workaround it to open LightiweightPipeline.cs and set cullinParameters.shadowDistance to your desired distance or increasing the atlas resolution temporarily.

[2018-07-05 13:43] phi-lira commented on #1615
SRP is missing the correct hookup to enable dynamic batching for shadows. We will add it.
However, I'm not sure if dynamic batching will help you here. Depending on your platform it might be worse as we are concatenating buffers everyframe. Drawcall cost setup is not high for shadows.

[2018-07-05 13:45] phi-lira commented on #1607
Hey thanks for reporting this. This is a current known issue. Part of it is due to SRP missing the hook up to enable dynamic batching for shadow caster and another part is that LWRP is sometimes generating more casters per cascade than builtin.

[2018-07-09 15:36] phi-lira commented on #1161
Hey, just to give an update on this issue. I've looked into it and we are discussing a proper solution. It's an issue in core SRP and it's related to UI lifecycle. I'm prototyping something at the moment.

[2018-07-10 10:01] Immudelki opened #1647 "[LWRP] Light layer culling not working"
Culling mask/layer of directional light doesn't work properly.

Steps:
-Create new project by selecting **Lightweight RP (Preview)** **(uses lightweight 1.1.4-preview)**
-Disable light auto bake, clear generated lighting
-Set Directional Light culling mask to Water Layer Only & Realtime Mode
= Lights which should only affect water layer does affect default layer assets

![issue](https://user-image

[2018-07-10 11:00] frideal opened #1648 "HDRP Particles system remake?"
HDRP will make a new Particles system?
Unity team will Provide new particle shader (particle system)for HDRP?

I port my "Standard Particles" to HDRP most of them become invisible and material become purple.

Thanks.

[2018-07-10 11:29] FlorinUnity commented on #1049
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-lwrp-plus-xr-investigate-stereoeyeindex-vs-ps-parameter-issue-in-lwscreenspaceshadows-dot-shader

[2018-07-10 11:36] FlorinUnity commented on #1192
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-lightweight-rendering-with-tilemap-bug

[2018-07-10 11:38] jjejj87 commented on #1648
I think the HDRP team will make the standard particle shader compatible soon.

I don't think they are working on a new Particle System though.

[2018-07-10 11:38] FlorinUnity commented on #1238
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-rendering-not-working-on-lrp-in-webgl

[2018-07-10 11:40] FlorinUnity commented on #1161
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-multiple-cameras-plus-render-texture-causes-ugui-disappears-on-ios

[2018-07-10 11:42] FlorinUnity commented on #1310
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-videoplayer-doesnt-work-using-lightweight-pipeline

[2018-07-10 12:39] Immudelki commented on #1647
Hm I think It's the same issue as this one ? https://github.com/Unity-Technologies/ScriptableRenderPipeline/issues/1019

[2018-07-10 13:01] FlorinUnity commented on #1316
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-all-meshes-invisible-in-android-build-lwrp

[2018-07-10 13:03] FlorinUnity commented on #1346
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-lwrp-visible-light-popping

[2018-07-10 13:04] FlorinUnity commented on #1349
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-hololens-deploy-exceptions

[2018-07-10 13:06] FlorinUnity commented on #1356
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-multiple-cameras-causes-post-processing-disappearing

[2018-07-10 13:07] FlorinUnity commented on #1454
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-a-problem-with-using-multiple-camera-and-setting-viewport-rect

[2018-07-10 13:11] FlorinUnity commented on #1469
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-only-first-pass-gets-rendered-when-using-multi-pass-shaders

[2018-07-10 13:13] FlorinUnity commented on #1498
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-hololens-with-shadows-enabled-the-scene-is-flipped-and-follows-the-camera

[2018-07-10 13:14] FlorinUnity commented on #1523
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-lw-1-dot-1-10-2-dot-0-1-extreme-performance-regression-36-times-slower

[2018-07-10 13:15] #1523 closed

[2018-07-10 13:16] FlorinUnity commented on #1524
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-metal-fragment-shader-missing-buffer-binding-at-index-3-lightindexbuffer-slash-pbr-master

[2018-07-10 13:19] FlorinUnity commented on #1534
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-uv-set-for-lw-shader

[2018-07-10 13:21] FlorinUnity commented on #1541
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-watertile-dot-cs-camera-dot-current-null-exception

[2018-07-10 13:22] FlorinUnity commented on #1575
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-assigning-render-texture-gives-black-screen-only-on-build

[2018-07-10 13:23] FlorinUnity commented on #1592
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-plus-shadergraph-shader-graphs-with-transparent-surface-type-do-not-render-with-render-queue-value-of-2000

[2018-07-10 14:49] Raivk opened #1650 "[HDRP] Null Reference Exception when using Particle System Lighting Module"
When using Unity Particles with the light module enabled, it breaks the scene's lighting, stops the particle system and spam the following error :

"NullReferenceException: Object reference not set to an instance of an object
UnityEngine.Experimental.Rendering.HDPipeline.LightLoop.PrepareLightsForGPU (UnityEngine.Rendering.CommandBuffer cmd, UnityEngine.Experimental.Rendering.HDPipeline.HDCamera h

[2018-07-10 21:57] sebastienlagarde commented on #1648
Hi shirunken unlit particles are supported.
Shiruken lit particles aren't.
The main solution for hdrp for particles will be the new vfx editor that should come as experimental in 2018.3 or 2019.1

[2018-07-11 07:15] #1019 closed

[2018-07-11 07:15] #1049 closed

[2018-07-11 07:16] #1161 closed

[2018-07-11 07:16] #1192 closed

[2018-07-11 07:17] #1238 closed

[2018-07-11 07:17] #1356 closed

[2018-07-11 07:18] #1349 closed

[2018-07-11 07:18] #1346 closed

[2018-07-11 07:18] #1454 closed

[2018-07-11 07:18] #1469 closed

[2018-07-11 07:19] #1316 closed

[2018-07-11 07:19] #1310 closed

[2018-07-11 07:21] #1498 closed

[2018-07-11 07:21] #1524 closed

[2018-07-11 07:21] #1541 closed

[2018-07-11 07:22] #1534 closed

[2018-07-11 07:22] #1575 closed

[2018-07-11 07:22] #1592 closed

[2018-07-11 07:29] FlorinUnity commented on #1616
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-wildly-different-shadow-quality-in-scene-view-vs-game-view

[2018-07-11 07:29] #1616 closed

[2018-07-11 07:30] FlorinUnity commented on #1647
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-light-layer-culling-not-working

[2018-07-11 07:30] #1647 closed

[2018-07-11 07:36] #1304 closed

[2018-07-11 07:36] #1595 closed

[2018-07-11 08:15] FlorinUnity commented on #1607
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/lwrp-shadow-cascades-double-tris-of-scene-1

[2018-07-11 08:15] #1607 closed

[2018-07-11 08:49] #383 closed

[2018-07-11 09:29] FlorinUnity commented on #1033
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-arbackgroundrenderer-support

[2018-07-11 09:29] #1033 closed

[2018-07-11 09:30] FlorinUnity commented on #1204
Hi,
we moved the Question to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-question-scene-mask

[2018-07-11 09:30] #1204 closed

[2018-07-11 09:31] FlorinUnity commented on #1295
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-commandbuffer-dot-setglobalmatrixarray-only-the-first-index-gets-populated

[2018-07-11 09:31] #1295 closed

[2018-07-11 09:33] #1318 closed

[2018-07-11 09:35] #1395 closed

[2018-07-11 09:36] FlorinUnity commented on #1489
As it is already in fogbugz, I close the issue.

[2018-07-11 09:36] #1489 closed

[2018-07-11 09:37] #1599 closed

[2018-07-11 09:38] FlorinUnity commented on #1491
As it is already in Fogbugz, I will close the issue.

[2018-07-11 09:38] #1491 closed

[2018-07-11 09:39] #1648 closed

[2018-07-12 07:14] FlorinUnity commented on #1345
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-inspecting-culling-result

[2018-07-12 07:14] #1345 closed

[2018-07-12 07:16] FlorinUnity commented on #1531
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-hdrp-strange-compile-popup-box-with-2-dot-0-3-preview

[2018-07-12 07:16] #1531 closed

[2018-07-12 07:16] FlorinUnity commented on #1597
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-lenovo-daydream-flicker

[2018-07-12 07:16] #1597 closed

[2018-07-12 07:17] FlorinUnity commented on #1598
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/srp-non-deterministic-camera-grouping-slash-order-between-windows-and-macos-slash-ios-very-inconvenient-render-loop-api

[2018-07-12 07:17] #1598 closed

[2018-07-12 07:18] FlorinUnity commented on #1650
Hi,
we moved this issue to our internal bug reporting tool.
You can follow it via this link:

https://issuetracker.unity3d.com/issues/hdpr-null-reference-exception-when-using-particle-system-lighting-module

[2018-07-12 07:18] #1650 closed

[2018-07-13 08:34] Verasl commented on #1601
Hi @JeromeJ

Just replying here to let you know I will be closing the Fogbugz bug as this is by design.

Whats happening here is that the Normal mapping version of the shader is actually being stripped out from the build because when you build there is no material making use of this shader. There are a few things you can do here, but the best is to have at least one material somewhere in the build

[2018-07-13 09:54] minozheros opened #1676 "Properties break shadergraph on german system #1519"
HI,
I am using **Unity 2018.2.0f2** and the **lightweight render pipeline 2.05 preview**, and i have the exact same problem as described in #1519, which was closed... i have a German System but Unity Personal is english... I switched the whole system to english and it is working now....

[2018-07-15 15:54] McGittyHub opened #1688 "LWRP blit downscaling with Point filtering and support for pixel perfect camera"
Hello,

I don’t know if this is the right place to ask but I would like to be able to select sampling method when rendering at a lower res.

Preferably I would like to use LWRP with the Pixel Perfect preview package

Right now it only does Bilinear sampling (I think) and Pixel perfect camera has no effect

[2018-07-16 00:18] AntonioCaroppos opened #1689 "Missing support for modern transmission maps"
##### I want to use Transmission maps (which are physically correct) instead of flawed thickness maps. However, the Lit shader doesn't allow this. I'm therefore asking for support for modern transmission maps.

##### HDRP Lit Shader

##### Unity template

##### 2018.2.0b11

##### 2018.2.0b11 Windows

[2018-07-16 07:36] ohmaya opened #1690 "Need to update shader cache auotmatically when shader libraries in /Packages are changed"
##### What happened?
1. Clone LWRP into projects' /Packages folder.
2. Change a shader library file such as Lighting.hlsl.
[Result]
You **need to clear \Library\ShaderCache and reopen the project to see updates**.

##### Which package (Shader graph, LW, HDRP, Core...)?

##### Unity template or github source code?

##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-

[2018-07-16 07:40] ohmaya commented on #1502
@stramit
Although it is said that cloning to /Assets is not supported, quite possible it can work. I guess the main reason that cloning to /Assets is not suggested is: if .json points to /Assets, it gets compiled twice.

[2018-07-16 08:05] stramit commented on #1502
The shader path export code does not function within the assets folder, which is the cause of the original issue.

[2018-07-16 11:37] sebastienlagarde commented on #1689
TL;DR

Thickness map is (most of the time) the opposite of what other engine may call transmission map. i.e thicknessmap = 1 - transmission map.

Can you explain what is a 'physically correct' transmission map?
Transmission is name that we give to forward scattering inside a participating media when a light is behind the object, but in itself it is just scattering inside a volume with absorption a

[2018-07-16 14:22] TerraUnity opened #1693 "Can not render Depth RenderTexture from camera in HDRP!"
As stated in this forum post here:

[https://forum.unity.com/threads/accessing-depth-rendertexture-in-hdrp-and-pass-it-to-compute-shaders.539003/](https://forum.unity.com/threads/accessing-depth-rendertexture-in-hdrp-and-pass-it-to-compute-shaders.539003/)

Depth is not rendered in the rendertexture as before and the following line does not work in HDRP:

`currentRT = RenderTexture.GetTemporary(ro

[2018-07-16 17:21] sebastienlagarde commented on #1693
Hi,

This can't work as we don't use GetTemporaryRT system anymore in HD.

hmm... This 'could' have worked. But as SRP is entirely based on command buffer, I am not sure about when your call get executed compare to the call Cam.Render(); So maybe your call to SetTextureFromGlobal is call before. @phi-lira any idea? Should be the same in LW.

Yes, we plan on a way to get it, but haven't started thi

[2018-07-16 20:06] AntonioCaroppos commented on #1689
Could you read here? I'm not sure who is correct. The shader masters (you) or the creator of Knald (the master of maps).

https://polycount.com/discussion/128895/knald-master-thread/p15

The author writes:

While there are always improvements to be made with any technique, we do consider our Transmission to produce the most realistic result. The generic Thickness maps that many solutions have impl

[2018-07-16 22:17] metalliandy commented on #1689
You can simply invert the Transmission map from Knald and then use it as a direct replacement for "Thickness" inside Unity. You may want to play with the settings within Knald in order to get a similar intensity to what is typical with "Thickness" maps (changing the Attenuation to Ramp Linear and bumping the Scale slider to 1000% is usually pretty good).

Sebastian is correct in that having a bake

[2018-07-17 00:56] AntonioCaroppos commented on #1689
Why doesn't the HDRP Lit Shader accept Transmission maps right away? Or why do you (Andy) not create Thickness maps right away?

[2018-07-17 04:52] lokeshs26gp opened #1696 "Canvas Screen space camera issue"
##### What happened?
 Canvas Screen space camera not rendering in devices
##### Which package (Shader graph, LW, HDRP, Core...)?
using LWRP
##### Unity template or github source code?

##### Which package version or branch (1.1.8-preview, 2.0.0-preview, 2018.1, 2018.1-experiment, 2108.2...)?
LWRP 2.0.5
##### Unity version, operating system, target platform (standalone windows, mac, iOS, PS4...)?
U

[2018-07-17 08:15] sebastienlagarde commented on #1693
(Replaced previous answer).

So currently HDRP render depth buffer in a separate depth buffer than the one provide and it don't copy it to the one attach to the camera (this extra copy will have a cost if perform all the time). thus why the call doesn't work.

In the future we will provide an API to be able to get the depth buffer from the rendering (an after camera rendering with command buffer).

[2018-07-18 03:35] sonicether opened #1705 "HDRP: Sky cubemap for Procedural Sky, incorrect result"
I'd like to report a serious rendering issue that occurs when using a Procedural Sky with HDRP. This issue was encountered in HDRP 2.0.5-preview in Unity 2018.2.0f2 using the HDRP template.

I noticed that the diffuse sky contribution didn't seem to take the sun's position into account, as you can see here: https://i.imgur.com/v5yJPLz.jpg This causes all kinds of wrong ambient lighting.

So, I wen

[2018-07-18 08:55] ericdelappe opened #1707 "LWRP / 2018.2 - Scene view UI elements not rendering properly"
When using the LWRP in 2018.2.0f2, the scene view grid is invisible, though it briefly pops in when viewed from a certain angle. Gizmos and selection outlines are also much more transparent than they should be. The issue occurs as soon as I drag a LWRP asset into the graphics settings.

Tested with a new project. Only installed packages are SRP Core and LWRP, installed via package manager. Using W

[2018-07-18 16:03] JulienIgnace-Unity commented on #1705
Hi,
The current implement is indeed problematic.
Investigating this more thoroughly allowed us to spot other problems and discrepancies (reflection probes, being independent from the baking sky were still rendered with the sun disk which can be a problem in some cases).
To properly fix the issue, we are going to integrate your proposed fix but we will also add a new parameter to the sky settings (

[2018-07-18 16:06] aaronflippo opened #1716 "LWRP doesn't support Projectors"
I'd like to request that the LWRP provide replacements for the Projector shaders that previously came via the Standard Assets package. At the moment there doesn't seem to be a way to get projectors to work with the LWRP, and there's no guide that I can find for upgrading existing shader code to work with LWRP.

##### Which package (Shader graph, LW, HDRP, Core...)?

LWRP

##### Which package versi

[2018-07-18 19:42] vakHD opened #1721 "LWRP cant preview materials"
When building my project to iOS when converting materials I get a warning in to console stating:
Metal: Fragment shader missing buffer binding at index 3 (_LightIndexBuffer / LightweightPipeline/Standard (Simple Lighting))

Metal: Fragment shader missing buffer binding at index 3 (_LightIndexBuffer / LightweightPipeline/Standard (Physically Based))

and I cannot see a preview of the material in th

[2018-07-19 10:59] mihakrajnc opened #1722 "Multi camera setups are broken on iOS."
When using a multiple camera setup, the camera that is rendered in the background gets distorted. This only happens on iOS (Metal) and not in the editor.

For example, with the following setup:

#### Background Camera (Renders most of the scene):
- Depth: 0
- Clear Flags: Solid Color
- PP Layer (FXAA, Fast Mode, Keep Alpha, Stop NaN Propagation, but no effects)

#### Foreground Camera (Mostly UI a

[2018-07-19 14:36] demonixis opened #1726 "Black screen with Oculus Go and Lightweight Pipeline"
##### What happened?
The application displays a black screen (no Unity logo) when building with LW. I tried to use Single Pass Stereo and Multipass but it's the same result. It works with the "old" Forward Renderer and multipass. Looks like to be the same result on my Galaxy S6 too.

##### Which package (Shader graph, LW, HDRP, Core...)?
- Lightweight

##### Unity template or github source code?
-

[2018-07-19 15:31] Sacretis commented on #1726
I'm having the same issue with Google Cardboard running on an S8.  This has been reported before but was claimed to be fixed in 2.0 (with no precise description of the specific settings necessary or whether it was a partial fix only for certain platforms).

Have you made sure to disable MSAA on the camera and in the LWRP settings asset?  That apparently resolved the issue for someone with Oculus G

[2018-07-19 15:42] demonixis commented on #1726
Not tried to disable MSAA because I need it ;) But I can try yes.

[2018-07-20 03:43] mohsinkhan26 opened #1735 "LWRP / 2018.2.0 / 3.0.0-preview / Mac - All models are pink"
##### What happened?
After installing Shader graph, LW, Core render pipeline and settings the LW scriptable asset in graphics settings, **_each model become pink and I couldn't see the preview in Shader Graph_**

Also gives the following warning
**Metal: Fragment shader missing buffer binding at index 3 (_LightIndexBuffer / PBR Master)**

##### Which package (Shader graph, LW, HDRP, Core...)?
Shad

[2018-07-20 22:35] BabyBluee commented on #1696
I have this same issue, a temporary workaround for now is to set the canvas to be camera space.

I think it has to do with the new 'position' input on the Unlit Master node, but have been unable to obtain any further leads.

[2018-07-21 20:54] Tossrock commented on #1317
That commit is tagged 3.0.0-preview, but when I upgrade my LWRP package to 3.0.0-preview, bloom still doesn't work in VR. Did this not actually make it into the 3.0.0-preview release?

[2018-07-22 05:38] bitinn opened #1753 "Clarify render pipeline package dependency"
##### What happened?

AFAIK, neither LWRP nor HDRP depends on SRP.Core package.

But I have seen so many people trying to install both Core and LWRP, I believe there is simply some misunderstanding on this issue.

I suggest we include some simple text in the package manager description to address this common issue.

##### Which package (Shader graph, LW, HDRP, Core...)?

All

##### Unity template

[2018-07-22 16:52] arcv commented on #1735
Did you change your materials' shader to LightweightPipeline shader?

[2018-07-22 17:02] BigGiantHead opened #1755 "ShaderGraph with normal map scale issue"
Hi guys,

I am using Unity 2018.2.0 with 3.0.0 LWRP and ShaderGraph.

Everything works perfectly, but when I use Normal map in a ShaderGraph it behaves weirdly if the GameObject has scale different than (1, 1, 1).

I cannot recreate this behavior when using the Light Weight Standard Shader; it only happens when I use ShaderGraph.

Thanks,
Ivan

[2018-07-22 22:49] adamzl opened #1756 "GUI control error while adjusting material emissive color during run"
##### What happened?
The below error is encountered when adjusting the emissive color of a material during run-time.
The follow error stack is provided by Unity:
``ArgumentException: Getting control 21's position in a group with only 21 controls when doing ExecuteCommand
Aborting
UnityEngine.GUILayoutGroup.GetNext () (at C:/buildslave/unity/build/Modules/IMGUI/LayoutGroup.cs:117)
UnityEngine.GUILa